.DS_Store
swagger-out
.cache
.env
node_modules
utils/example
.phpunit.result.cache

# PHP
utils/sdk/php/vendor

# Ruby
utils/sdk/ruby/env.rb

# Python
utils/sdk/python/env.py
__pycache__/
venv/
venv*/
dist/
*.egg-info/
.vscode/settings.json
*~