=begin
{{> api_info}}
=end

# Common files
require '{{gemName}}/api_client'
require '{{gemName}}/api_error'
require '{{gemName}}/version'

# APIs
{{#apiInfo}}
{{#apis}}
require '{{importPath}}'
{{/apis}}
{{/apiInfo}}

module {{moduleName}}
  class Client
    def initialize(api_key = '')
      set_api_key(api_key)
    end

    def set_api_key(api_key = '')
      @api_key = api_key
      @api_client = ApiClient.new(@api_key)

      {{#apiInfo}}
      {{#apis}}
      @{{baseName}} = {{classname}}.new(@api_client)
      {{/apis}}
      {{/apiInfo}}
    end

    def set_default_output_format(output_format)
      @api_client.set_default_output_format(output_format)
    end

    def set_timeout(timeout=nil, read: nil, write: nil, connect: nil)
      @api_client.set_timeout(timeout, read: read, write: write, connect: connect)
    end

    {{#apiInfo}}
    {{#apis}}
    def {{classVarName}}
      @{{baseName}}
    end
    {{/apis}}
    {{/apiInfo}}
  end
end
