# coding: utf-8

# flake8: noqa

{{>partial_header}}

from __future__ import absolute_import

# import apis into sdk package
{{#apiInfo}}{{#apis}}from {{apiPackage}}.{{classVarName}} import {{classname}}
{{/apis}}{{/apiInfo}}

from {{packageName}}.api_client import ApiClient
from {{packageName}}.configuration import Configuration

class Client(object):
  def __init__(self, config = {}):
    self.api_client = ApiClient(config)

    {{#apiInfo}}{{#apis}}self.{{baseName}} = {{classname}}(self.api_client)
    {{/apis}}{{/apiInfo}}

  def set_config(self, config = {}):
    self.api_client.set_config(config)
