{
  "x-doc-structure": {
    "resources": {
      "allowlists": {
        "title": "Allowlists",
        "description": "Add, list, or delete from your Rejection Allowlist.",
        "paths": [
          "/allowlists/add",
          "/allowlists/list",
          "/allowlists/delete"
        ]
      },
      "exports": {
        "title": "Exports",
        "description": "Start an export, or get information on export jobs in progress.",
        "paths": [
          "/exports/info",
          "/exports/list",
          "/exports/rejects",
          "/exports/whitelist",
          "/exports/allowlist",
          "/exports/activity"
        ]
      },
      "inbound": {
        "title": "Inbound",
        "description": "Manage your inbound domains and routes.",
        "paths": [
          "/inbound/domains",
          "/inbound/add-domain",
          "/inbound/check-domain",
          "/inbound/delete-domain",
          "/inbound/routes",
          "/inbound/add-route",
          "/inbound/update-route",
          "/inbound/delete-route",
          "/inbound/send-raw"
        ]
      },
      "ips": {
        "title": "IPs",
        "description": "Request and manage Dedicated IPs for your account, and set up reverse DNS.",
        "paths": [
          "/ips/list",
          "/ips/info",
          "/ips/provision",
          "/ips/start-warmup",
          "/ips/cancel-warmup",
          "/ips/set-pool",
          "/ips/delete",
          "/ips/list-pools",
          "/ips/pool-info",
          "/ips/create-pool",
          "/ips/delete-pool",
          "/ips/check-custom-dns",
          "/ips/set-custom-dns"
        ]
      },
      "messages": {
        "title": "Messages",
        "description": "Send, schedule, or get information on your emails.",
        "paths": [
          "/messages/send",
          "/messages/send-sms",
          "/messages/send-template",
          "/messages/send-mc-template",
          "/messages/search",
          "/messages/search-time-series",
          "/messages/info",
          "/messages/content",
          "/messages/parse",
          "/messages/send-raw",
          "/messages/list-scheduled",
          "/messages/cancel-scheduled",
          "/messages/reschedule"
        ]
      },
      "metadata": {
        "title": "Metadata",
        "description": "Manage your custom metadata fields in your account.",
        "paths": [
          "/metadata/list",
          "/metadata/add",
          "/metadata/update",
          "/metadata/delete"
        ]
      },
      "rejects": {
        "title": "Rejects",
        "description": "Add, list, or delete from your Rejection Denylist.",
        "paths": [
          "/rejects/add",
          "/rejects/list",
          "/rejects/delete"
        ]
      },
      "senders": {
        "title": "Senders",
        "description": "Manage or get information about your sending domains.",
        "paths": [
          "/senders/list",
          "/senders/domains",
          "/senders/add-domain",
          "/senders/delete-domain",
          "/senders/check-domain",
          "/senders/verify-domain",
          "/senders/info",
          "/senders/time-series"
        ]
      },
      "subaccounts": {
        "title": "Subaccounts",
        "description": "Manage your subaccounts, including the abilitiy to pause and resume sending.",
        "paths": [
          "/subaccounts/list",
          "/subaccounts/add",
          "/subaccounts/info",
          "/subaccounts/update",
          "/subaccounts/delete",
          "/subaccounts/pause",
          "/subaccounts/resume"
        ]
      },
      "tags": {
        "title": "Tags",
        "description": "List, delete, or get information on your Tags and their sending statistics.",
        "paths": [
          "/tags/list",
          "/tags/delete",
          "/tags/info",
          "/tags/time-series",
          "/tags/all-time-series"
        ]
      },
      "templates": {
        "title": "Templates",
        "description": "Manage templates created via the Mandrill UI or through the /templates endpoint.",
        "paths": [
          "/templates/add",
          "/templates/info",
          "/templates/update",
          "/templates/publish",
          "/templates/delete",
          "/templates/list",
          "/templates/time-series",
          "/templates/render"
        ]
      },
      "mctemplates": {
        "title": "Templates (MC)",
        "description": "Manage templates created via the Mailchimp UI.",
        "paths": [
          "/mctemplates/info",
          "/mctemplates/list",
          "/mctemplates/time-series",
          "/mctemplates/render"
        ]
      },
      "urls": {
        "title": "URLs",
        "description": "Manage your tracking domains. Some of these endpoints may be deprecated.",
        "paths": [
          "/urls/list",
          "/urls/search",
          "/urls/time-series",
          "/urls/tracking-domains",
          "/urls/add-tracking-domain",
          "/urls/delete-tracking-domain",
          "/urls/check-tracking-domain"
        ]
      },
      "users": {
        "title": "Users",
        "description": "Get information about your account, or ping Transactional.",
        "paths": [
          "/users/info",
          "/users/ping",
          "/users/ping2",
          "/users/senders"
        ]
      },
      "webhooks": {
        "title": "Webhooks",
        "description": "Manage the webhooks in your account.",
        "paths": [
          "/webhooks/list",
          "/webhooks/add",
          "/webhooks/info",
          "/webhooks/update",
          "/webhooks/delete"
        ]
      },
      "whitelists": {
        "title": "Whitelists",
        "description": "Add, list, or delete from your Rejection Allowlist. These endpoints are being replaced with a series of functionally identical endpoints called /allowlists.",
        "paths": [
          "/whitelists/add",
          "/whitelists/list",
          "/whitelists/delete"
        ]
      }
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.3.3",
    "title": "Mailchimp Transactional API",
    "contact": {
      "name": "API Support",
      "email": "apihelp@mailchimp.com"
    },
    "x-permalink": "https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/transactional.openapi.json"
  },
  "host": "mandrillapp.com",
  "basePath": "/api/1.3",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "application/x-php",
    "application/x-yaml; charset=utf-8"
  ],
  "paths": {
    "/allowlists/add": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "add",
          "methodNameSnake": "add"
        },
        "summary": "Add email to allowlist",
        "description": "Adds an email to your email rejection allowlist. If the address is currently on your denylist, that denylist entry will be removed automatically.",
        "operationId": "postAllowlistsAdd",
        "tags": [
          "allowlists"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "email"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "email": {
                  "description": "An email address to add to the allowlist",
                  "type": "string",
                  "format": "email",
                  "example": "user@example.com"
                },
                "comment": {
                  "description": "An optional description of why the email was added to the allowlist",
                  "type": "string",
                  "maxLength": 255,
                  "example": "Internal support address"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email successfully added to allowlist",
            "schema": {
              "description": "Response for adding an email to the allowlist",
              "required": [
                "email",
                "added"
              ],
              "properties": {
                "email": {
                  "description": "The email address you provided",
                  "type": "string",
                  "format": "email",
                  "example": "user@example.com"
                },
                "added": {
                  "description": "Whether the operation succeeded",
                  "type": "boolean",
                  "example": true
                }
              },
              "type": "object",
              "example": {
                "email": "user@example.com",
                "added": true
              },
              "additionalProperties": false
            }
          }
        },
        "deprecated": false
      }
    },
    "/allowlists/list": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "list",
          "methodNameSnake": "list"
        },
        "summary": "List allowlisted emails",
        "description": "Retrieves your email rejection allowlist. You can provide an email address or search prefix to limit the results. Returns up to 1000 results.",
        "operationId": "postAllowlistsList",
        "tags": [
          "allowlists"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "email": {
                  "description": "An optional email address or prefix to search by",
                  "type": "string",
                  "example": "user"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of allowlist entries",
            "schema": {
              "description": "Response containing up to 1000 allowlist entries",
              "type": "array",
              "items": {
                "required": [
                  "email",
                  "detail",
                  "created_at"
                ],
                "properties": {
                  "email": {
                    "description": "The email address that is allowlisted",
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "detail": {
                    "description": "A description of why the email was allowlisted",
                    "type": "string",
                    "example": "Internal support address"
                  },
                  "created_at": {
                    "description": "When the email was added to the allowlist",
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                    "example": "2013-01-01 15:30:32"
                  }
                },
                "type": "object",
                "additionalProperties": false
              },
              "example": [
                {
                  "email": "user@example.com",
                  "detail": "Internal support address",
                  "created_at": "2013-01-01 15:30:32"
                },
                {
                  "email": "support@example.com",
                  "detail": "Customer support address",
                  "created_at": "2013-01-02 10:15:45"
                }
              ]
            }
          }
        },
        "deprecated": false
      }
    },
    "/allowlists/delete": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "delete",
          "methodNameSnake": "delete"
        },
        "summary": "Remove email from allowlist",
        "description": "Removes an email address from the allowlist.",
        "operationId": "postAllowlistsDelete",
        "tags": [
          "allowlists"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "email"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "email": {
                  "description": "The email address to remove from the allowlist",
                  "type": "string",
                  "format": "email",
                  "example": "user@example.com"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email successfully removed from allowlist",
            "schema": {
              "description": "Response for removing an email from the allowlist",
              "required": [
                "email",
                "deleted"
              ],
              "properties": {
                "email": {
                  "description": "The email address that was removed from the allowlist",
                  "type": "string",
                  "format": "email",
                  "example": "user@example.com"
                },
                "deleted": {
                  "description": "Whether the address was deleted successfully",
                  "type": "boolean",
                  "example": true
                }
              },
              "type": "object",
              "example": {
                "email": "user@example.com",
                "deleted": true
              },
              "additionalProperties": false
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/info": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "info",
          "methodNameSnake": "info"
        },
        "summary": "View export info",
        "description": "Returns information about an export job. If the export job's state is 'complete', the returned data will include a URL you can use to fetch the results. Every export job produces a zip archive, but the format of the archive is distinct for each job type. The api calls that initiate exports include more details about the output format for that job type.",
        "operationId": "postExportsInfo",
        "tags": [
          "exports"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "id"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "id": {
                  "description": "Export job identifier",
                  "type": "string",
                  "example": "2013-01-01 12:20:28.13842"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export job information",
            "schema": {
              "description": "Export job information including status and download URL when complete",
              "required": [
                "id",
                "created_at",
                "type",
                "state"
              ],
              "properties": {
                "id": {
                  "description": "Unique identifier for this export job",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}\\.\\d+$",
                  "example": "2013-01-01 12:20:28.13842"
                },
                "created_at": {
                  "description": "Date and time the export job was created in UTC YYYY-MM-DD HH:MM:SS format",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2013-01-01 12:30:28"
                },
                "type": {
                  "description": "Type of export job",
                  "type": "string",
                  "enum": [
                    "reject",
                    "whitelist",
                    "allowlist",
                    "activity"
                  ],
                  "example": "reject"
                },
                "finished_at": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2013-01-01 12:35:28",
                  "description": "Date and time the export job finished in UTC YYYY-MM-DD HH:MM:SS format, or null if not finished"
                },
                "state": {
                  "description": "Current state of the export job",
                  "type": "string",
                  "enum": [
                    "waiting",
                    "working",
                    "complete",
                    "error"
                  ],
                  "example": "waiting"
                },
                "result_url": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://example.com/export-results.zip",
                  "description": "URL to download the export results when job is complete, or null if not ready"
                }
              },
              "type": "object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/list": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "list",
          "methodNameSnake": "list"
        },
        "summary": "List exports",
        "description": "Returns a list of your exports.",
        "operationId": "postExportsList",
        "tags": [
          "exports"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "description": "API key field included in request bodies.",
              "required": [
                "key"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                }
              },
              "type": "object",
              "example": {
                "key": "ONzNrsmbtNXoIKyfPmjnig"
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of export jobs",
            "schema": {
              "type": "array",
              "items": {
                "description": "Export job information including status and download URL when complete",
                "required": [
                  "id",
                  "created_at",
                  "type",
                  "state"
                ],
                "properties": {
                  "id": {
                    "description": "Unique identifier for this export job",
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}\\.\\d+$",
                    "example": "2013-01-01 12:20:28.13842"
                  },
                  "created_at": {
                    "description": "Date and time the export job was created in UTC YYYY-MM-DD HH:MM:SS format",
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                    "example": "2013-01-01 12:30:28"
                  },
                  "type": {
                    "description": "Type of export job",
                    "type": "string",
                    "enum": [
                      "reject",
                      "whitelist",
                      "allowlist",
                      "activity"
                    ],
                    "example": "reject"
                  },
                  "finished_at": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                    "example": "2013-01-01 12:35:28",
                    "description": "Date and time the export job finished in UTC YYYY-MM-DD HH:MM:SS format, or null if not finished"
                  },
                  "state": {
                    "description": "Current state of the export job",
                    "type": "string",
                    "enum": [
                      "waiting",
                      "working",
                      "complete",
                      "error"
                    ],
                    "example": "waiting"
                  },
                  "result_url": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://example.com/export-results.zip",
                    "description": "URL to download the export results when job is complete, or null if not ready"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/rejects": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "rejects",
          "methodNameSnake": "rejects"
        },
        "summary": "Export denylist",
        "description": "Begins an export of your rejection denylist. The denylist will be exported to a zip archive containing a single file named rejects.csv that includes the following fields: email, reason, detail, created_at, expires_at, last_event_at, expires_at.",
        "operationId": "postExportsRejects",
        "tags": [
          "exports"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "notify_email": {
                  "description": "Optional email address to notify when the export job has finished",
                  "type": "string",
                  "format": "email",
                  "example": "admin@example.com"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the rejects export job that was started",
            "schema": {
              "description": "Export job information including status and download URL when complete",
              "required": [
                "id",
                "created_at",
                "type",
                "state"
              ],
              "properties": {
                "id": {
                  "description": "Unique identifier for this export job",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}\\.\\d+$",
                  "example": "2013-01-01 12:20:28.13842"
                },
                "created_at": {
                  "description": "Date and time the export job was created in UTC YYYY-MM-DD HH:MM:SS format",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2013-01-01 12:30:28"
                },
                "type": {
                  "description": "Type of export job",
                  "type": "string",
                  "enum": [
                    "reject",
                    "whitelist",
                    "allowlist",
                    "activity"
                  ],
                  "example": "reject"
                },
                "finished_at": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2013-01-01 12:35:28",
                  "description": "Date and time the export job finished in UTC YYYY-MM-DD HH:MM:SS format, or null if not finished"
                },
                "state": {
                  "description": "Current state of the export job",
                  "type": "string",
                  "enum": [
                    "waiting",
                    "working",
                    "complete",
                    "error"
                  ],
                  "example": "waiting"
                },
                "result_url": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://example.com/export-results.zip",
                  "description": "URL to download the export results when job is complete, or null if not ready"
                }
              },
              "type": "object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/whitelist": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "whitelist",
          "methodNameSnake": "whitelist"
        },
        "summary": "Export Allowlist",
        "description": "Begins an export of your rejection allowlist. The allowlist will be exported to a zip archive containing a single file named allowlist.csv that includes the following fields: email, detail, created_at.",
        "operationId": "postExportsWhitelist",
        "tags": [
          "exports"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "notify_email": {
                  "description": "Optional email address to notify when the export job has finished",
                  "type": "string",
                  "format": "email",
                  "example": "admin@example.com"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the allowlist export job that was started",
            "schema": {
              "description": "Export job information including status and download URL when complete",
              "required": [
                "id",
                "created_at",
                "type",
                "state"
              ],
              "properties": {
                "id": {
                  "description": "Unique identifier for this export job",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}\\.\\d+$",
                  "example": "2013-01-01 12:20:28.13842"
                },
                "created_at": {
                  "description": "Date and time the export job was created in UTC YYYY-MM-DD HH:MM:SS format",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2013-01-01 12:30:28"
                },
                "type": {
                  "description": "Type of export job",
                  "type": "string",
                  "enum": [
                    "reject",
                    "whitelist",
                    "allowlist",
                    "activity"
                  ],
                  "example": "reject"
                },
                "finished_at": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2013-01-01 12:35:28",
                  "description": "Date and time the export job finished in UTC YYYY-MM-DD HH:MM:SS format, or null if not finished"
                },
                "state": {
                  "description": "Current state of the export job",
                  "type": "string",
                  "enum": [
                    "waiting",
                    "working",
                    "complete",
                    "error"
                  ],
                  "example": "waiting"
                },
                "result_url": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://example.com/export-results.zip",
                  "description": "URL to download the export results when job is complete, or null if not ready"
                }
              },
              "type": "object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/allowlist": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "allowlist",
          "methodNameSnake": "allowlist"
        },
        "summary": "Export Allowlist",
        "description": "Begins an export of your rejection allowlist. The allowlist will be exported to a zip archive containing a single file named allowlist.csv that includes the following fields: email, detail, created_at.",
        "operationId": "postExportsAllowlist",
        "tags": [
          "exports"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "notify_email": {
                  "description": "Optional email address to notify when the export job has finished",
                  "type": "string",
                  "format": "email",
                  "example": "admin@example.com"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the allowlist export job that was started",
            "schema": {
              "description": "Export job information including status and download URL when complete",
              "required": [
                "id",
                "created_at",
                "type",
                "state"
              ],
              "properties": {
                "id": {
                  "description": "Unique identifier for this export job",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}\\.\\d+$",
                  "example": "2013-01-01 12:20:28.13842"
                },
                "created_at": {
                  "description": "Date and time the export job was created in UTC YYYY-MM-DD HH:MM:SS format",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2013-01-01 12:30:28"
                },
                "type": {
                  "description": "Type of export job",
                  "type": "string",
                  "enum": [
                    "reject",
                    "whitelist",
                    "allowlist",
                    "activity"
                  ],
                  "example": "reject"
                },
                "finished_at": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2013-01-01 12:35:28",
                  "description": "Date and time the export job finished in UTC YYYY-MM-DD HH:MM:SS format, or null if not finished"
                },
                "state": {
                  "description": "Current state of the export job",
                  "type": "string",
                  "enum": [
                    "waiting",
                    "working",
                    "complete",
                    "error"
                  ],
                  "example": "waiting"
                },
                "result_url": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://example.com/export-results.zip",
                  "description": "URL to download the export results when job is complete, or null if not ready"
                }
              },
              "type": "object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/activity": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "activity",
          "methodNameSnake": "activity"
        },
        "summary": "Export activity history",
        "description": "Begins an export of your activity history. The activity will be exported to a zip archive containing a single file named activity.csv in the same format as you would be able to export from your account's activity view. It includes the following fields: Date, Email Address, Sender, Subject, Status, Tags, Opens, Clicks, Bounce Detail. If you have configured any custom metadata fields, they will be included in the exported data.",
        "operationId": "postExportsActivity",
        "tags": [
          "exports"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "description": "Request parameters for exporting activity history with optional filters",
              "required": [
                "key"
              ],
              "properties": {
                "key": {
                  "description": "API key field included in request bodies.",
                  "required": [
                    "key"
                  ],
                  "properties": {
                    "key": {
                      "description": "A valid Mandrill API key",
                      "type": "string",
                      "example": "ONzNrsmbtNXoIKyfPmjnig"
                    }
                  },
                  "type": "object",
                  "example": {
                    "key": "ONzNrsmbtNXoIKyfPmjnig"
                  },
                  "additionalProperties": false
                },
                "notify_email": {
                  "description": "Optional email address to notify when the export job has finished",
                  "type": "string",
                  "format": "email",
                  "example": "admin@example.com"
                },
                "date_from": {
                  "description": "Start date as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2013-01-01 12:53:01"
                },
                "date_to": {
                  "description": "End date as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2013-01-06 13:42:18"
                },
                "tags": {
                  "description": "Array of tag names to narrow the export to; will match messages that contain ANY of the tags",
                  "type": "array",
                  "items": {
                    "description": "A tag name",
                    "type": "string",
                    "example": "example-tag"
                  },
                  "example": [
                    "example-tag"
                  ]
                },
                "senders": {
                  "description": "Array of sender email addresses to narrow the export to",
                  "type": "array",
                  "items": {
                    "description": "A sender email address",
                    "type": "string",
                    "format": "email",
                    "example": "test@example.com"
                  },
                  "example": [
                    "test@example.com"
                  ]
                },
                "states": {
                  "description": "Array of message states to narrow the export to; messages with ANY of the states will be included",
                  "type": "array",
                  "items": {
                    "description": "A message state",
                    "type": "string",
                    "enum": [
                      "sent",
                      "rejected",
                      "bounced",
                      "soft-bounced",
                      "spam",
                      "unsub"
                    ]
                  },
                  "example": [
                    "sent"
                  ]
                },
                "api_keys": {
                  "description": "Array of API keys to narrow the export to; messages sent with ANY of the keys will be included",
                  "type": "array",
                  "items": {
                    "description": "An API key associated with your account",
                    "type": "string",
                    "example": "ONzNrsmbtNXoIKyfPmjnig"
                  },
                  "example": [
                    "ONzNrsmbtNXoIKyfPmjnig"
                  ]
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the activity export job that was started",
            "schema": {
              "description": "Export job information including status and download URL when complete",
              "required": [
                "id",
                "created_at",
                "type",
                "state"
              ],
              "properties": {
                "id": {
                  "description": "Unique identifier for this export job",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}\\.\\d+$",
                  "example": "2013-01-01 12:20:28.13842"
                },
                "created_at": {
                  "description": "Date and time the export job was created in UTC YYYY-MM-DD HH:MM:SS format",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2013-01-01 12:30:28"
                },
                "type": {
                  "description": "Type of export job",
                  "type": "string",
                  "enum": [
                    "reject",
                    "whitelist",
                    "allowlist",
                    "activity"
                  ],
                  "example": "reject"
                },
                "finished_at": {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                  "example": "2013-01-01 12:35:28",
                  "description": "Date and time the export job finished in UTC YYYY-MM-DD HH:MM:SS format, or null if not finished"
                },
                "state": {
                  "description": "Current state of the export job",
                  "type": "string",
                  "enum": [
                    "waiting",
                    "working",
                    "complete",
                    "error"
                  ],
                  "example": "waiting"
                },
                "result_url": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://example.com/export-results.zip",
                  "description": "URL to download the export results when job is complete, or null if not ready"
                }
              },
              "type": "object"
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/domains": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "domains",
          "methodNameSnake": "domains"
        },
        "summary": "List inbound domains",
        "description": "List the domains that have been configured for inbound delivery.",
        "operationId": "postInboundDomains",
        "tags": [
          "inbound"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "description": "API key field included in request bodies.",
              "required": [
                "key"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                }
              },
              "type": "object",
              "example": {
                "key": "ONzNrsmbtNXoIKyfPmjnig"
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The inbound domains associated with the account",
            "schema": {
              "type": "array",
              "items": {
                "description": "Inbound email domain configuration and status",
                "required": [
                  "domain",
                  "created_at",
                  "valid_mx"
                ],
                "properties": {
                  "domain": {
                    "description": "The inbound domain name",
                    "type": "string",
                    "example": "inbound.example.com"
                  },
                  "created_at": {
                    "description": "When the domain was added to the account (UTC YYYY-MM-DD HH:MM:SS.microseconds)",
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}\\.\\d+$",
                    "example": "2025-08-29 18:47:58.03116"
                  },
                  "valid_mx": {
                    "description": "Whether the MX records are properly configured for inbound delivery",
                    "type": "boolean",
                    "example": true
                  }
                },
                "type": "object",
                "example": {
                  "domain": "inbound.example.com",
                  "created_at": "2025-08-29 18:47:58.03116",
                  "valid_mx": true
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/add-domain": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "addDomain",
          "methodNameSnake": "add_domain"
        },
        "summary": "Add inbound domain",
        "description": "Add an inbound domain to your account.",
        "operationId": "postInboundAddDomain",
        "tags": [
          "inbound"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "domain"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "domain": {
                  "description": "A domain name for inbound email delivery",
                  "type": "string",
                  "example": "inbound.example.com"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the domain",
            "schema": {
              "description": "Inbound email domain configuration and status",
              "required": [
                "domain",
                "created_at",
                "valid_mx"
              ],
              "properties": {
                "domain": {
                  "description": "The inbound domain name",
                  "type": "string",
                  "example": "inbound.example.com"
                },
                "created_at": {
                  "description": "When the domain was added to the account (UTC YYYY-MM-DD HH:MM:SS.microseconds)",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}\\.\\d+$",
                  "example": "2025-08-29 18:47:58.03116"
                },
                "valid_mx": {
                  "description": "Whether the MX records are properly configured for inbound delivery",
                  "type": "boolean",
                  "example": true
                }
              },
              "type": "object",
              "example": {
                "domain": "inbound.example.com",
                "created_at": "2025-08-29 18:47:58.03116",
                "valid_mx": true
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/check-domain": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "checkDomain",
          "methodNameSnake": "check_domain"
        },
        "summary": "Check domain settings",
        "description": "Check the MX settings for an inbound domain. The domain must have already been added with the add-domain call.",
        "operationId": "postInboundCheckDomain",
        "tags": [
          "inbound"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "domain"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "domain": {
                  "description": "An existing inbound domain",
                  "type": "string",
                  "example": "inbound.example.com"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the inbound domain",
            "schema": {
              "description": "Inbound email domain configuration and status",
              "required": [
                "domain",
                "created_at",
                "valid_mx"
              ],
              "properties": {
                "domain": {
                  "description": "The inbound domain name",
                  "type": "string",
                  "example": "inbound.example.com"
                },
                "created_at": {
                  "description": "When the domain was added to the account (UTC YYYY-MM-DD HH:MM:SS.microseconds)",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}\\.\\d+$",
                  "example": "2025-08-29 18:47:58.03116"
                },
                "valid_mx": {
                  "description": "Whether the MX records are properly configured for inbound delivery",
                  "type": "boolean",
                  "example": true
                }
              },
              "type": "object",
              "example": {
                "domain": "inbound.example.com",
                "created_at": "2025-08-29 18:47:58.03116",
                "valid_mx": true
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/delete-domain": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "deleteDomain",
          "methodNameSnake": "delete_domain"
        },
        "summary": "Delete inbound domain",
        "description": "Delete an inbound domain from the account. All mail will stop routing for this domain immediately.",
        "operationId": "postInboundDeleteDomain",
        "tags": [
          "inbound"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "domain"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "domain": {
                  "description": "An existing inbound domain",
                  "type": "string",
                  "example": "inbound.example.com"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the deleted domain",
            "schema": {
              "description": "Inbound email domain configuration and status",
              "required": [
                "domain",
                "created_at",
                "valid_mx"
              ],
              "properties": {
                "domain": {
                  "description": "The inbound domain name",
                  "type": "string",
                  "example": "inbound.example.com"
                },
                "created_at": {
                  "description": "When the domain was added to the account (UTC YYYY-MM-DD HH:MM:SS.microseconds)",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}\\.\\d+$",
                  "example": "2025-08-29 18:47:58.03116"
                },
                "valid_mx": {
                  "description": "Whether the MX records are properly configured for inbound delivery",
                  "type": "boolean",
                  "example": true
                }
              },
              "type": "object",
              "example": {
                "domain": "inbound.example.com",
                "created_at": "2025-08-29 18:47:58.03116",
                "valid_mx": true
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/routes": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "routes",
          "methodNameSnake": "routes"
        },
        "summary": "List routes",
        "description": "List the routes defined for an inbound domain or SMS program. Provide either domain or phone (not both).",
        "operationId": "postInboundRoutes",
        "tags": [
          "inbound"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "domain": {
                  "description": "The domain to check (required if phone is not provided)",
                  "type": "string",
                  "example": "inbound.example.com"
                },
                "phone": {
                  "description": "The SMS program phone number (required if domain is not provided)",
                  "type": "string",
                  "example": "+16505551234"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The routes associated with the domain or phone",
            "schema": {
              "type": "array",
              "items": {
                "description": "Mailbox routing rule for inbound emails",
                "required": [
                  "id",
                  "pattern",
                  "url"
                ],
                "properties": {
                  "id": {
                    "description": "The unique identifier of the route",
                    "type": "string",
                    "example": "88.214614"
                  },
                  "pattern": {
                    "description": "The search pattern that the mailbox name should match",
                    "type": "string",
                    "example": "mailbox-*"
                  },
                  "url": {
                    "description": "The webhook URL where inbound messages will be published",
                    "type": "string",
                    "format": "uri",
                    "example": "https://example.com/webhook-url"
                  }
                },
                "type": "object",
                "example": {
                  "id": "88.214614",
                  "pattern": "mailbox-*",
                  "url": "https://example.com/webhook-url"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/add-route": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "addRoute",
          "methodNameSnake": "add_route"
        },
        "summary": "Add route",
        "description": "Add a new route to an inbound domain or SMS program. Provide either domain or phone (not both).",
        "operationId": "postInboundAddRoute",
        "tags": [
          "inbound"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "url"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "domain": {
                  "description": "An existing inbound domain (required if phone is not provided)",
                  "type": "string",
                  "example": "inbound.example.com"
                },
                "phone": {
                  "description": "The SMS program phone number - the TO number that receives inbound SMS (required if domain is not provided)",
                  "type": "string",
                  "example": "+16505551234"
                },
                "pattern": {
                  "description": "For email: the mailbox pattern (e.g., \"mailbox-*\"). For SMS: not used, the phone number is the pattern.",
                  "type": "string",
                  "example": "mailbox-*"
                },
                "url": {
                  "description": "The webhook URL where the inbound messages will be published",
                  "type": "string",
                  "format": "uri",
                  "example": "https://example.com/webhook-url"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The added route information",
            "schema": {
              "description": "Mailbox routing rule for inbound emails",
              "required": [
                "id",
                "pattern",
                "url"
              ],
              "properties": {
                "id": {
                  "description": "The unique identifier of the route",
                  "type": "string",
                  "example": "88.214614"
                },
                "pattern": {
                  "description": "The search pattern that the mailbox name should match",
                  "type": "string",
                  "example": "mailbox-*"
                },
                "url": {
                  "description": "The webhook URL where inbound messages will be published",
                  "type": "string",
                  "format": "uri",
                  "example": "https://example.com/webhook-url"
                }
              },
              "type": "object",
              "example": {
                "id": "88.214614",
                "pattern": "mailbox-*",
                "url": "https://example.com/webhook-url"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/update-route": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "updateRoute",
          "methodNameSnake": "update_route"
        },
        "summary": "Update mailbox route",
        "description": "Update the pattern or webhook of an existing inbound mailbox route. If null is provided for any fields, the values will remain unchanged.",
        "operationId": "postInboundUpdateRoute",
        "tags": [
          "inbound"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "id"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "id": {
                  "description": "The unique identifier of an existing mailbox route",
                  "type": "string",
                  "example": "88.2144614"
                },
                "pattern": {
                  "description": "For email: The search pattern that the mailbox name should match. For SMS: the sender's phone number (FROM number).  Null to leave unchanged",
                  "type": "string",
                  "example": "*.*"
                },
                "url": {
                  "description": "The webhook URL where the inbound messages will be published (null to leave unchanged)",
                  "type": "string",
                  "format": "uri",
                  "example": "https://example.com/webhook-url"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated mailbox route information",
            "schema": {
              "description": "Mailbox routing rule for inbound emails",
              "required": [
                "id",
                "pattern",
                "url"
              ],
              "properties": {
                "id": {
                  "description": "The unique identifier of the route",
                  "type": "string",
                  "example": "88.214614"
                },
                "pattern": {
                  "description": "The search pattern that the mailbox name should match",
                  "type": "string",
                  "example": "mailbox-*"
                },
                "url": {
                  "description": "The webhook URL where inbound messages will be published",
                  "type": "string",
                  "format": "uri",
                  "example": "https://example.com/webhook-url"
                }
              },
              "type": "object",
              "example": {
                "id": "88.214614",
                "pattern": "mailbox-*",
                "url": "https://example.com/webhook-url"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/delete-route": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "deleteRoute",
          "methodNameSnake": "delete_route"
        },
        "summary": "Delete mailbox route",
        "description": "Delete an existing inbound mailbox route.",
        "operationId": "postInboundDeleteRoute",
        "tags": [
          "inbound"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "id"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "id": {
                  "description": "The unique identifier of an existing route",
                  "type": "string",
                  "example": "88.214614"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted mailbox route information",
            "schema": {
              "description": "Mailbox routing rule for inbound emails",
              "required": [
                "id",
                "pattern",
                "url"
              ],
              "properties": {
                "id": {
                  "description": "The unique identifier of the route",
                  "type": "string",
                  "example": "88.214614"
                },
                "pattern": {
                  "description": "The search pattern that the mailbox name should match",
                  "type": "string",
                  "example": "mailbox-*"
                },
                "url": {
                  "description": "The webhook URL where inbound messages will be published",
                  "type": "string",
                  "format": "uri",
                  "example": "https://example.com/webhook-url"
                }
              },
              "type": "object",
              "example": {
                "id": "88.214614",
                "pattern": "mailbox-*",
                "url": "https://example.com/webhook-url"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/send-raw": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "sendRaw",
          "methodNameSnake": "send_raw"
        },
        "summary": "Send mime document",
        "description": "Take a raw MIME document destined for a domain with inbound domains set up, and send it to the inbound hook exactly as if it had been sent over SMTP.",
        "operationId": "postInboundSendRaw",
        "tags": [
          "inbound"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "raw_message"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "raw_message": {
                  "description": "The full MIME document of an email message",
                  "type": "string",
                  "example": "From: sender@example.com\\nTo: mailbox-123@inbound.example.com\\nSubject: Some Subject\\n\\nSome content."
                },
                "to": {
                  "description": "Optionally define the recipients to receive the message - otherwise we'll use the To, Cc, and Bcc headers provided in the document",
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "email"
                  },
                  "example": [
                    "mailbox-123@inbound.example.com"
                  ]
                },
                "mail_from": {
                  "description": "The address specified in the MAIL FROM stage of the SMTP conversation",
                  "type": "string",
                  "format": "email",
                  "example": "sender@example.com"
                },
                "helo": {
                  "description": "The hostname provided during HELO",
                  "type": "string",
                  "example": "sender.example.com"
                },
                "client_address": {
                  "description": "The remote host's IP address",
                  "type": "string",
                  "example": "192.168.1.100"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Processing results for each recipient or null if no recipients processed",
            "schema": {
              "description": "Response from processing raw MIME message"
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/list": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "list",
          "methodNameSnake": "list"
        },
        "summary": "List ip addresses",
        "description": "Lists your dedicated IPs.",
        "operationId": "postIpsList",
        "tags": [
          "ips"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "description": "API key field included in request bodies.",
              "required": [
                "key"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                }
              },
              "type": "object",
              "example": {
                "key": "ONzNrsmbtNXoIKyfPmjnig"
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of dedicated IP information",
            "schema": {
              "type": "array",
              "items": {
                "description": "Information about a dedicated IP address including warmup status and custom DNS configuration",
                "required": [
                  "ip",
                  "created_at",
                  "pool",
                  "domain",
                  "custom_dns",
                  "warmup"
                ],
                "properties": {
                  "ip": {
                    "description": "The IP address (IPv4)",
                    "type": "string",
                    "format": "ipv4",
                    "example": "127.0.0.1"
                  },
                  "created_at": {
                    "description": "The date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                    "type": "string",
                    "example": "2013-01-01 15:50:21"
                  },
                  "pool": {
                    "description": "The name of the pool that this dedicated IP belongs to",
                    "type": "string",
                    "example": "Main Pool"
                  },
                  "domain": {
                    "description": "The domain name (reverse DNS) of this dedicated IP",
                    "type": "string",
                    "example": "mail1.example.mandrillapp.com"
                  },
                  "custom_dns": {
                    "description": "Information about the IP's custom DNS configuration",
                    "required": [
                      "enabled",
                      "valid"
                    ],
                    "properties": {
                      "enabled": {
                        "description": "Whether custom DNS has been configured for this IP",
                        "type": "boolean",
                        "example": true
                      },
                      "valid": {
                        "description": "Whether the IP's custom DNS is currently valid",
                        "type": "boolean",
                        "example": true
                      },
                      "error": {
                        "type": "string",
                        "description": "If the IP's custom DNS is invalid, this will include details about the error",
                        "example": null
                      }
                    },
                    "type": "object"
                  },
                  "warmup": {
                    "description": "Information about an IP's warmup status and schedule",
                    "required": [
                      "warming_up"
                    ],
                    "properties": {
                      "warming_up": {
                        "description": "Whether the IP is currently in warmup mode",
                        "type": "boolean",
                        "example": true
                      },
                      "start_at": {
                        "type": "string",
                        "description": "The start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                        "example": "2013-03-01 12:00:01"
                      },
                      "end_at": {
                        "type": "string",
                        "description": "The end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                        "example": "2013-03-31 12:00:01"
                      }
                    },
                    "type": "object",
                    "example": {
                      "warming_up": true,
                      "start_at": "2013-03-01 12:00:01",
                      "end_at": "2013-03-31 12:00:01"
                    }
                  }
                },
                "type": "object",
                "example": {
                  "ip": "127.0.0.1",
                  "created_at": "2013-01-01 15:50:21",
                  "pool": "Main Pool",
                  "domain": "mail1.example.mandrillapp.com",
                  "custom_dns": {
                    "enabled": true,
                    "valid": true,
                    "error": null
                  },
                  "warmup": {
                    "warming_up": true,
                    "start_at": "2013-03-01 12:00:01",
                    "end_at": "2013-03-31 12:00:01"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/info": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "info",
          "methodNameSnake": "info"
        },
        "summary": "Get ip info",
        "description": "Retrieves information about a single dedicated IP.",
        "operationId": "postIpsInfo",
        "tags": [
          "ips"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "ip"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "ip": {
                  "description": "A dedicated IP address",
                  "type": "string",
                  "example": "127.0.0.1"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the dedicated IP",
            "schema": {
              "description": "Information about a dedicated IP address including warmup status and custom DNS configuration",
              "required": [
                "ip",
                "created_at",
                "pool",
                "domain",
                "custom_dns",
                "warmup"
              ],
              "properties": {
                "ip": {
                  "description": "The IP address (IPv4)",
                  "type": "string",
                  "format": "ipv4",
                  "example": "127.0.0.1"
                },
                "created_at": {
                  "description": "The date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "type": "string",
                  "example": "2013-01-01 15:50:21"
                },
                "pool": {
                  "description": "The name of the pool that this dedicated IP belongs to",
                  "type": "string",
                  "example": "Main Pool"
                },
                "domain": {
                  "description": "The domain name (reverse DNS) of this dedicated IP",
                  "type": "string",
                  "example": "mail1.example.mandrillapp.com"
                },
                "custom_dns": {
                  "description": "Information about the IP's custom DNS configuration",
                  "required": [
                    "enabled",
                    "valid"
                  ],
                  "properties": {
                    "enabled": {
                      "description": "Whether custom DNS has been configured for this IP",
                      "type": "boolean",
                      "example": true
                    },
                    "valid": {
                      "description": "Whether the IP's custom DNS is currently valid",
                      "type": "boolean",
                      "example": true
                    },
                    "error": {
                      "type": "string",
                      "description": "If the IP's custom DNS is invalid, this will include details about the error",
                      "example": null
                    }
                  },
                  "type": "object"
                },
                "warmup": {
                  "description": "Information about an IP's warmup status and schedule",
                  "required": [
                    "warming_up"
                  ],
                  "properties": {
                    "warming_up": {
                      "description": "Whether the IP is currently in warmup mode",
                      "type": "boolean",
                      "example": true
                    },
                    "start_at": {
                      "type": "string",
                      "description": "The start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2013-03-01 12:00:01"
                    },
                    "end_at": {
                      "type": "string",
                      "description": "The end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2013-03-31 12:00:01"
                    }
                  },
                  "type": "object",
                  "example": {
                    "warming_up": true,
                    "start_at": "2013-03-01 12:00:01",
                    "end_at": "2013-03-31 12:00:01"
                  }
                }
              },
              "type": "object",
              "example": {
                "ip": "127.0.0.1",
                "created_at": "2013-01-01 15:50:21",
                "pool": "Main Pool",
                "domain": "mail1.example.mandrillapp.com",
                "custom_dns": {
                  "enabled": true,
                  "valid": true,
                  "error": null
                },
                "warmup": {
                  "warming_up": true,
                  "start_at": "2013-03-01 12:00:01",
                  "end_at": "2013-03-31 12:00:01"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/provision": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "provision",
          "methodNameSnake": "provision"
        },
        "summary": "Request additional ip",
        "description": "Requests an additional dedicated IP for your account. Accounts may have one outstanding request at any time, and provisioning requests are processed within 24 hours.",
        "operationId": "postIpsProvision",
        "tags": [
          "ips"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "warmup": {
                  "description": "Whether to enable warmup mode for the IP",
                  "type": "boolean",
                  "example": false
                },
                "pool": {
                  "type": "string",
                  "description": "The ID of the pool to add the dedicated IP to, or null to use your account's default pool",
                  "example": "Main Pool"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A description of the provisioning request that was created",
            "schema": {
              "description": "Response for dedicated IP provisioning request",
              "required": [
                "requested_at"
              ],
              "properties": {
                "requested_at": {
                  "description": "The date and time that the request was created as a UTC timestamp in YYYY-MM-DD HH:MM:SS[.fraction] format",
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?$",
                  "example": "2013-01-01 01:52:21.123456"
                }
              },
              "type": "object",
              "example": {
                "requested_at": "2013-01-01 01:52:21.123456"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/start-warmup": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "startWarmup",
          "methodNameSnake": "start_warmup"
        },
        "summary": "Start ip warmup",
        "description": "Begins the warmup process for a dedicated IP. During the warmup process, the Transactional API will gradually increase the percentage of your mail that is sent over the warming-up IP, over a period of roughly 30 days. The rest of your mail will be sent over shared IPs or other dedicated IPs in the same pool.",
        "operationId": "postIpsStartWarmup",
        "tags": [
          "ips"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "ip"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "ip": {
                  "description": "A dedicated IP address",
                  "type": "string",
                  "example": "127.0.0.1"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the dedicated IP",
            "schema": {
              "description": "Information about a dedicated IP address including warmup status and custom DNS configuration",
              "required": [
                "ip",
                "created_at",
                "pool",
                "domain",
                "custom_dns",
                "warmup"
              ],
              "properties": {
                "ip": {
                  "description": "The IP address (IPv4)",
                  "type": "string",
                  "format": "ipv4",
                  "example": "127.0.0.1"
                },
                "created_at": {
                  "description": "The date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "type": "string",
                  "example": "2013-01-01 15:50:21"
                },
                "pool": {
                  "description": "The name of the pool that this dedicated IP belongs to",
                  "type": "string",
                  "example": "Main Pool"
                },
                "domain": {
                  "description": "The domain name (reverse DNS) of this dedicated IP",
                  "type": "string",
                  "example": "mail1.example.mandrillapp.com"
                },
                "custom_dns": {
                  "description": "Information about the IP's custom DNS configuration",
                  "required": [
                    "enabled",
                    "valid"
                  ],
                  "properties": {
                    "enabled": {
                      "description": "Whether custom DNS has been configured for this IP",
                      "type": "boolean",
                      "example": true
                    },
                    "valid": {
                      "description": "Whether the IP's custom DNS is currently valid",
                      "type": "boolean",
                      "example": true
                    },
                    "error": {
                      "type": "string",
                      "description": "If the IP's custom DNS is invalid, this will include details about the error",
                      "example": null
                    }
                  },
                  "type": "object"
                },
                "warmup": {
                  "description": "Information about an IP's warmup status and schedule",
                  "required": [
                    "warming_up"
                  ],
                  "properties": {
                    "warming_up": {
                      "description": "Whether the IP is currently in warmup mode",
                      "type": "boolean",
                      "example": true
                    },
                    "start_at": {
                      "type": "string",
                      "description": "The start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2013-03-01 12:00:01"
                    },
                    "end_at": {
                      "type": "string",
                      "description": "The end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2013-03-31 12:00:01"
                    }
                  },
                  "type": "object",
                  "example": {
                    "warming_up": true,
                    "start_at": "2013-03-01 12:00:01",
                    "end_at": "2013-03-31 12:00:01"
                  }
                }
              },
              "type": "object",
              "example": {
                "ip": "127.0.0.1",
                "created_at": "2013-01-01 15:50:21",
                "pool": "Main Pool",
                "domain": "mail1.example.mandrillapp.com",
                "custom_dns": {
                  "enabled": true,
                  "valid": true,
                  "error": null
                },
                "warmup": {
                  "warming_up": true,
                  "start_at": "2013-03-01 12:00:01",
                  "end_at": "2013-03-31 12:00:01"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/cancel-warmup": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "cancelWarmup",
          "methodNameSnake": "cancel_warmup"
        },
        "summary": "Cancel ip warmup",
        "description": "Cancels the warmup process for a dedicated IP.",
        "operationId": "postIpsCancelWarmup",
        "tags": [
          "ips"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "ip"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "ip": {
                  "description": "A dedicated IP address",
                  "type": "string",
                  "example": "127.0.0.1"
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the dedicated IP",
            "schema": {
              "description": "Information about a dedicated IP address including warmup status and custom DNS configuration",
              "required": [
                "ip",
                "created_at",
                "pool",
                "domain",
                "custom_dns",
                "warmup"
              ],
              "properties": {
                "ip": {
                  "description": "The IP address (IPv4)",
                  "type": "string",
                  "format": "ipv4",
                  "example": "127.0.0.1"
                },
                "created_at": {
                  "description": "The date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "type": "string",
                  "example": "2013-01-01 15:50:21"
                },
                "pool": {
                  "description": "The name of the pool that this dedicated IP belongs to",
                  "type": "string",
                  "example": "Main Pool"
                },
                "domain": {
                  "description": "The domain name (reverse DNS) of this dedicated IP",
                  "type": "string",
                  "example": "mail1.example.mandrillapp.com"
                },
                "custom_dns": {
                  "description": "Information about the IP's custom DNS configuration",
                  "required": [
                    "enabled",
                    "valid"
                  ],
                  "properties": {
                    "enabled": {
                      "description": "Whether custom DNS has been configured for this IP",
                      "type": "boolean",
                      "example": true
                    },
                    "valid": {
                      "description": "Whether the IP's custom DNS is currently valid",
                      "type": "boolean",
                      "example": true
                    },
                    "error": {
                      "type": "string",
                      "description": "If the IP's custom DNS is invalid, this will include details about the error",
                      "example": null
                    }
                  },
                  "type": "object"
                },
                "warmup": {
                  "description": "Information about an IP's warmup status and schedule",
                  "required": [
                    "warming_up"
                  ],
                  "properties": {
                    "warming_up": {
                      "description": "Whether the IP is currently in warmup mode",
                      "type": "boolean",
                      "example": true
                    },
                    "start_at": {
                      "type": "string",
                      "description": "The start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2013-03-01 12:00:01"
                    },
                    "end_at": {
                      "type": "string",
                      "description": "The end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2013-03-31 12:00:01"
                    }
                  },
                  "type": "object",
                  "example": {
                    "warming_up": true,
                    "start_at": "2013-03-01 12:00:01",
                    "end_at": "2013-03-31 12:00:01"
                  }
                }
              },
              "type": "object",
              "example": {
                "ip": "127.0.0.1",
                "created_at": "2013-01-01 15:50:21",
                "pool": "Main Pool",
                "domain": "mail1.example.mandrillapp.com",
                "custom_dns": {
                  "enabled": true,
                  "valid": true,
                  "error": null
                },
                "warmup": {
                  "warming_up": true,
                  "start_at": "2013-03-01 12:00:01",
                  "end_at": "2013-03-31 12:00:01"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/set-pool": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "setPool",
          "methodNameSnake": "set_pool"
        },
        "summary": "Move ip to different pool",
        "description": "Moves a dedicated IP to a different pool.",
        "operationId": "postIpsSetPool",
        "tags": [
          "ips"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "key",
                "ip",
                "pool"
              ],
              "properties": {
                "key": {
                  "description": "A valid Mandrill API key",
                  "type": "string",
                  "example": "ONzNrsmbtNXoIKyfPmjnig"
                },
                "ip": {
                  "description": "A dedicated IP address",
                  "type": "string",
                  "example": "127.0.0.1"
                },
                "pool": {
                  "description": "The name of the new pool to add the dedicated IP to",
                  "type": "string",
                  "example": "Main Pool"
                },
                "create_pool": {
                  "description": "Whether to create the pool if it does not exist; if false and the pool does not exist, an Unknown_Pool will be thrown",
                  "type": "boolean",
                  "example": false
                }
              },
              "description": "API key field included in request bodies."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the updated state of the dedicated IP",
            "schema": {
              "description": "Information about a dedicated IP address including warmup status and custom DNS configuration",
              "required": [
                "ip",
                "created_at",
                "pool",
                "domain",
                "custom_dns",
                "warmup"
              ],
              "properties": {
                "ip": {
                  "description": "The IP address (IPv4)",
                  "type": "string",
                  "format": "ipv4",
                  "example": "127.0.0.1"
                },
                "created_at": {
                  "description": "The date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "type": "string",
                  "example": "2013-01-01 15:50:21"
                },
                "pool": {
                  "description": "The name of the pool that this dedicated IP belongs to",
                  "type": "string",
                  "example": "Main Pool"
                },
                "domain": {
                  "description": "The domain name (reverse DNS) of this dedicated IP",
                  "type": "string",
                  "example": "mail1.example.mandrillapp.com"
                },
                "custom_dns": {
                  "description": "Information about the IP's custom DNS configuration",
                  "required": [
                    "enabled",
                    "valid"
                  ],
                  "properties": {
                    "enabled": {
                      "description": "Whether custom DNS has been configured for this IP",
                      "type": "boolean",
                      "example": true
                    },
                    "valid": {
                      "description": "Whether the IP's custom DNS is currently valid",
                      "type": "boolean",
                      "example": true
                    },
                    "error": {
                      "type": "string",
                      "description": "If the IP's custom DNS is invalid, this will include details about the error",
                      "example": null
                    }
                  },
                  "type": "object"
                },
                "warmup": {
                  "description": "Information about an IP's warmup status and schedule",
                  "required": [
                    "warming_up"
                  ],
                  "properties": {
                    "warming_up": {
                      "description": "Whether the IP is currently in warmup mode",
                      "type": "boolean",
                      "example": true
                    },
                    "start_at": {
                      "type": "string",
                      "description": "The start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2013-03-01 12:00:01"
                    },
                    "end_at": {
                      "type": "string",
                      "description": "The end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2013-03-31 12:00:01"
                    }
                  },
                  "type": "object",
                  "example": {
                    "warming_up": true,
                    "start_at": "2013-03-01 12:00:01",
                    "end_at": "2013-03-31 12:00:01"
                  }
                }
              },
              "type": "object",
              "example": {
                "ip": "127.0.0.1",
                "created_at": "2013-01-01 15:50:21",
                "pool": "Main Pool",
                "domain": "mail1.example.mandrillapp.com",
                "custom_dns": {
                  "enabled": true,
                  "valid": true,
                  "error": null
                },
                "warmup": {
                  "warming_up": true,
                  "start_at": "2013-03-01 12:00:01",
                  "end_at": "2013-03-31 12:00:01"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/delete": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "delete",
          "methodNameSnake": "delete"
        },
        "summary": "Delete ip address",
        "description": "Deletes a dedicated IP. This is permanent and cannot be undone.",
        "operationId": "postIpsDelete",
[...]
