{
  "x-doc-structure": {
    "resources": {
      "allowlists": {
        "title": "Allowlists",
        "description": "Add, list, or delete from your Rejection Allowlist.",
        "paths": ["/allowlists/add", "/allowlists/list", "/allowlists/delete"]
      },
      "exports": {
        "title": "Exports",
        "description": "Start an export, or get information on export jobs in progress.",
        "paths": [
          "/exports/info",
          "/exports/list",
          "/exports/rejects",
          "/exports/whitelist",
          "/exports/allowlist",
          "/exports/activity"
        ]
      },
      "inbound": {
        "title": "Inbound",
        "description": "Manage your inbound domains and routes.",
        "paths": [
          "/inbound/domains",
          "/inbound/add-domain",
          "/inbound/check-domain",
          "/inbound/delete-domain",
          "/inbound/routes",
          "/inbound/add-route",
          "/inbound/update-route",
          "/inbound/delete-route",
          "/inbound/send-raw"
        ]
      },
      "ips": {
        "title": "IPs",
        "description": "Request and manage Dedicated IPs for your account, and set up reverse DNS.",
        "paths": [
          "/ips/list",
          "/ips/info",
          "/ips/provision",
          "/ips/start-warmup",
          "/ips/cancel-warmup",
          "/ips/set-pool",
          "/ips/delete",
          "/ips/list-pools",
          "/ips/pool-info",
          "/ips/create-pool",
          "/ips/delete-pool",
          "/ips/check-custom-dns",
          "/ips/set-custom-dns"
        ]
      },
      "messages": {
        "title": "Messages",
        "description": "Send, schedule, or get information on your emails.",
        "paths": [
          "/messages/send",
          "/messages/send-sms",
          "/messages/send-template",
          "/messages/send-mc-template",
          "/messages/search",
          "/messages/search-time-series",
          "/messages/info",
          "/messages/content",
          "/messages/parse",
          "/messages/send-raw",
          "/messages/list-scheduled",
          "/messages/cancel-scheduled",
          "/messages/reschedule"
        ]
      },
      "metadata": {
        "title": "Metadata",
        "description": "Manage your custom metadata fields in your account.",
        "paths": [
          "/metadata/list",
          "/metadata/add",
          "/metadata/update",
          "/metadata/delete"
        ]
      },
      "rejects": {
        "title": "Rejects",
        "description": "Add, list, or delete from your Rejection Denylist.",
        "paths": ["/rejects/add", "/rejects/list", "/rejects/delete"]
      },
      "senders": {
        "title": "Senders",
        "description": "Manage or get information about your sending domains.",
        "paths": [
          "/senders/list",
          "/senders/domains",
          "/senders/add-domain",
          "/senders/delete-domain",
          "/senders/check-domain",
          "/senders/verify-domain",
          "/senders/info",
          "/senders/time-series"
        ]
      },
      "subaccounts": {
        "title": "Subaccounts",
        "description": "Manage your subaccounts, including the abilitiy to pause and resume sending.",
        "paths": [
          "/subaccounts/list",
          "/subaccounts/add",
          "/subaccounts/info",
          "/subaccounts/update",
          "/subaccounts/delete",
          "/subaccounts/pause",
          "/subaccounts/resume"
        ]
      },
      "tags": {
        "title": "Tags",
        "description": "List, delete, or get information on your Tags and their sending statistics.",
        "paths": [
          "/tags/list",
          "/tags/delete",
          "/tags/info",
          "/tags/time-series",
          "/tags/all-time-series"
        ]
      },
      "templates": {
        "title": "Templates",
        "description": "Manage templates created via the Mandrill UI or through the /templates endpoint.",
        "paths": [
          "/templates/add",
          "/templates/info",
          "/templates/update",
          "/templates/publish",
          "/templates/delete",
          "/templates/list",
          "/templates/time-series",
          "/templates/render"
        ]
      },
      "mctemplates": {
        "title": "Templates (MC)",
        "description": "Manage templates created via the Mailchimp UI.",
        "paths": [
          "/mctemplates/info",
          "/mctemplates/list",
          "/mctemplates/time-series",
          "/mctemplates/render"
        ]
      },
      "urls": {
        "title": "URLs",
        "description": "Manage your tracking domains. Some of these endpoints may be deprecated.",
        "paths": [
          "/urls/list",
          "/urls/search",
          "/urls/time-series",
          "/urls/tracking-domains",
          "/urls/add-tracking-domain",
          "/urls/delete-tracking-domain",
          "/urls/check-tracking-domain"
        ]
      },
      "users": {
        "title": "Users",
        "description": "Get information about your account, or ping Transactional.",
        "paths": [
          "/users/info",
          "/users/ping",
          "/users/ping2",
          "/users/senders"
        ]
      },
      "webhooks": {
        "title": "Webhooks",
        "description": "Manage the webhooks in your account.",
        "paths": [
          "/webhooks/list",
          "/webhooks/add",
          "/webhooks/info",
          "/webhooks/update",
          "/webhooks/delete"
        ]
      },
      "whitelists": {
        "title": "Whitelists",
        "description": "Add, list, or delete from your Rejection Allowlist. These endpoints are being replaced with a series of functionally identical endpoints called /allowlists.",
        "paths": ["/whitelists/add", "/whitelists/list", "/whitelists/delete"]
      }
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.3.1",
    "title": "Mailchimp Transactional API",
    "contact": {
      "name": "API Support",
      "email": "apihelp@mailchimp.com"
    },
    "x-permalink": "https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/transactional.openapi.json"
  },
  "host": "mandrillapp.com",
  "basePath": "/api/1.3",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": [
    "application/json",
    "application/x-php",
    "application/x-yaml; charset=utf-8"
  ],
  "paths": {
    "/allowlists/add": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "add",
          "methodNameSnake": "add"
        },
        "summary": "Add email to allowlist",
        "description": "Adds an email to your email rejection allowlist. If the address is currently on your denylist, that denylist entry will be removed automatically.",
        "operationId": "postAllowlistsAdd",
        "tags": ["allowlists"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "email"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "email": {
                  "type": "string",
                  "description": "an email address to add to the allowlist",
                  "format": "email"
                },
                "comment": {
                  "type": "string",
                  "description": "an optional description of why the email was added to the allowlist",
                  "maxLength": 255
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "a status object containing the address and the result of the operation",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "the email address you provided",
                  "example": "user@example.com"
                },
                "added": {
                  "type": "boolean",
                  "description": "whether the operation succeeded",
                  "example": true
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/allowlists/list": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "list",
          "methodNameSnake": "list"
        },
        "summary": "List allowlisted emails",
        "description": "Retrieves your email rejection allowlist. You can provide an email address or search prefix to limit the results. Returns up to 1000 results.",
        "operationId": "postAllowlistsList",
        "tags": ["allowlists"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "email": {
                  "type": "string",
                  "description": "an optional email address or prefix to search by",
                  "format": "email"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "up to 1000 allowlist entries",
              "items": {
                "type": "object",
                "description": "the information for each allowlist entry",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "the email that is allowlisted",
                    "example": "user@example.com"
                  },
                  "detail": {
                    "type": "string",
                    "description": "a description of why the email was allowlisted",
                    "example": "Added manually via the API"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "when the email was added to the allowlist",
                    "example": "2025-04-29 18:47:35"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/allowlists/delete": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "delete",
          "methodNameSnake": "delete"
        },
        "summary": "Remove email from allowlist",
        "description": "Removes an email address from the allowlist.",
        "operationId": "postAllowlistsDelete",
        "tags": ["allowlists"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "email"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "email": {
                  "type": "string",
                  "description": "the email address to remove from the allowlist",
                  "format": "email"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "a status object containing the address and whether the deletion succeeded",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "the email address that was removed from the denylist",
                  "example": "user@example.com"
                },
                "deleted": {
                  "type": "boolean",
                  "description": "whether the address was deleted successfully",
                  "example": true
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/info": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "info",
          "methodNameSnake": "info"
        },
        "summary": "View export info",
        "description": "Returns information about an export job. If the export job's state is 'complete', the returned data will include a URL you can use to fetch the results. Every export job produces a zip archive, but the format of the archive is distinct for each job type. The api calls that initiate exports include more details about the output format for that job type.",
        "operationId": "postExportsInfo",
        "tags": ["exports"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "id"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "id": {
                  "type": "string",
                  "description": "an export job identifier"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "the information about the export",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier for this Export. Use this identifier when checking the export job's status",
                  "example": "2025-04-29 18:48:05.63771"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time",
                  "example": "2025-04-29 18:48:05"
                },
                "type": {
                  "type": "string",
                  "description": "the type of the export job - activity, reject, or allowlist",
                  "example": "reject"
                },
                "finished_at": {
                  "type": "string",
                  "description": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time",
                  "example": "2025-04-29 18:58:10"
                },
                "state": {
                  "type": "string",
                  "description": "the export job's state - waiting, working, complete, error, or expired.",
                  "example": "complete"
                },
                "result_url": {
                  "type": "string",
                  "description": "the url for the export job's results, if the job is completed.",
                  "example": "https://s3-us-west-2.amazonaws.com/exports.mandrillapp.com/123456/activity-2025-04-29_18%3A31%3A05.zip"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/list": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "list",
          "methodNameSnake": "list"
        },
        "summary": "List exports",
        "description": "Returns a list of your exports.",
        "operationId": "postExportsList",
        "tags": ["exports"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "the account's exports",
              "items": {
                "type": "object",
                "description": "the individual export info",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "the unique identifier for this Export. Use this identifier when checking the export job's status",
                    "example": "2025-04-29 18:48:05.63771"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                    "format": "date-time",
                    "example": "2025-04-29 18:48:05"
                  },
                  "type": {
                    "type": "string",
                    "description": "the type of the export job - activity, reject, or allowlist",
                    "example": "allowlist"
                  },
                  "finished_at": {
                    "type": "string",
                    "description": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format",
                    "format": "date-time",
                    "example": "2025-04-29 18:58:10"
                  },
                  "state": {
                    "type": "string",
                    "description": "the export job's state - waiting, working, complete, error, or expired.",
                    "example": "complete"
                  },
                  "result_url": {
                    "type": "string",
                    "description": "the url for the export job's results, if the job is completed.",
                    "example": "https://s3-us-west-2.amazonaws.com/exports.mandrillapp.com/123456/allowlist-2025-04-29_18%3A31%3A05.zip"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/rejects": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "rejects",
          "methodNameSnake": "rejects"
        },
        "summary": "Export denylist",
        "description": "Begins an export of your rejection denylist. The denylist will be exported to a zip archive containing a single file named rejects.csv that includes the following fields: email, reason, detail, created_at, expires_at, last_event_at, expires_at.",
        "operationId": "postExportsRejects",
        "tags": ["exports"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "notify_email": {
                  "type": "string",
                  "description": "an optional email address to notify when the export job has finished.",
                  "format": "email"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the rejects export job that was started",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier for this Export. Use this identifier when checking the export job's status",
                  "example": "2025-04-29 18:48:05.63771"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time",
                  "example": "2025-04-29 18:48:05"
                },
                "type": {
                  "type": "string",
                  "description": "the type of the export job - activity, reject, or whitelist",
                  "example": "reject"
                },
                "finished_at": {
                  "type": "string",
                  "description": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time",
                  "example": "2025-04-29 18:58:10"
                },
                "state": {
                  "type": "string",
                  "description": "the export job's state - waiting, working, complete, error, or expired.",
                  "example": "waiting"
                },
                "result_url": {
                  "type": "string",
                  "description": "the url for the export job's results, if the job is completed.",
                  "example": "null"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/whitelist": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "whitelist",
          "methodNameSnake": "whitelist"
        },
        "summary": "Export Allowlist",
        "description": "Begins an export of your rejection allowlist. The allowlist will be exported to a zip archive containing a single file named allowlist.csv that includes the following fields: email, detail, created_at.",
        "operationId": "postExportsWhitelist",
        "tags": ["exports"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "notify_email": {
                  "type": "string",
                  "description": "an optional email address to notify when the export job has finished.",
                  "format": "email"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the allowlist export job that was started",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier for this Export. Use this identifier when checking the export job's status",
                  "example": "2025-04-29 18:48:05.63771"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time",
                  "example": "2025-04-29 18:48:05"
                },
                "type": {
                  "type": "string",
                  "description": "the type of the export job",
                  "example": "allowlist"
                },
                "finished_at": {
                  "type": "string",
                  "description": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run",
                  "format": "date-time",
                  "example": "null"
                },
                "state": {
                  "type": "string",
                  "description": "the export job's state",
                  "example": "waiting"
                },
                "result_url": {
                  "type": "string",
                  "description": "the url for the export job's results, if the job is complete",
                  "example": "null"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/allowlist": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "allowlist",
          "methodNameSnake": "allowlist"
        },
        "summary": "Export Allowlist",
        "description": "Begins an export of your rejection allowlist. The allowlist will be exported to a zip archive containing a single file named allowlist.csv that includes the following fields: email, detail, created_at.",
        "operationId": "postExportsAllowlist",
        "tags": ["exports"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "notify_email": {
                  "type": "string",
                  "description": "an optional email address to notify when the export job has finished.",
                  "format": "email"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the allowlist export job that was started",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier for this Export. Use this identifier when checking the export job's status",
                  "example": "2025-04-29 18:48:05.63771"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time",
                  "example": "2025-04-29 18:48:05"
                },
                "type": {
                  "type": "string",
                  "description": "the type of the export job",
                  "example": "allowlist"
                },
                "finished_at": {
                  "type": "string",
                  "description": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run",
                  "format": "date-time",
                  "example": "null"
                },
                "state": {
                  "type": "string",
                  "description": "the export job's state",
                  "example": "waiting"
                },
                "result_url": {
                  "type": "string",
                  "description": "the url for the export job's results, if the job is complete",
                  "example": "null"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/activity": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "activity",
          "methodNameSnake": "activity"
        },
        "summary": "Export activity history",
        "description": "Begins an export of your activity history. The activity will be exported to a zip archive containing a single file named activity.csv in the same format as you would be able to export from your account's activity view. It includes the following fields: Date, Email Address, Sender, Subject, Status, Tags, Opens, Clicks, Bounce Detail. If you have configured any custom metadata fields, they will be included in the exported data.",
        "operationId": "postExportsActivity",
        "tags": ["exports"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "notify_email": {
                  "type": "string",
                  "description": "an optional email address to notify when the export job has finished",
                  "format": "email"
                },
                "date_from": {
                  "type": "string",
                  "description": "start date as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "date_to": {
                  "type": "string",
                  "description": "end date as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "tags": {
                  "type": "array",
                  "description": "an array of tag names to narrow the export to; will match messages that contain ANY of the tags",
                  "items": {
                    "type": "string",
                    "description": "a tag name"
                  }
                },
                "senders": {
                  "type": "array",
                  "description": "an array of senders to narrow the export to",
                  "items": {
                    "type": "string",
                    "description": "a sender address"
                  }
                },
                "states": {
                  "type": "array",
                  "description": "an array of message states to narrow the export to; messages with ANY of the states will be included",
                  "items": {
                    "type": "string",
                    "description": "a message state",
                    "enum": [
                      "sent",
                      "rejected",
                      "bounced",
                      "soft-bounced",
                      "spam",
                      "unsub"
                    ]
                  }
                },
                "api_keys": {
                  "type": "array",
                  "description": "an array of api keys to narrow the export to; messsagse sent with ANY of the keys will be included",
                  "items": {
                    "type": "string",
                    "description": "an API key associated with your account"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the activity export job that was started",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier for this Export. Use this identifier when checking the export job's status",
                  "example": "2025-04-29 18:48:05.63771"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time",
                  "example": "2025-04-29 18:48:05"
                },
                "type": {
                  "type": "string",
                  "description": "the type of the export job",
                  "example": "activity"
                },
                "finished_at": {
                  "type": "string",
                  "description": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run",
                  "format": "date-time",
                  "example": "2025-04-29 18:48:05"
                },
                "state": {
                  "type": "string",
                  "description": "the export job's state",
                  "example": "complete"
                },
                "result_url": {
                  "type": "string",
                  "description": "the url for the export job's results, if the job is complete",
                  "example": "https://s3-us-west-2.amazonaws.com/exports.mandrillapp.com/123456/activity-2025-04-29_18%3A31%3A05.zip"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/domains": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "domains",
          "methodNameSnake": "domains"
        },
        "summary": "List inbound domains",
        "description": "List the domains that have been configured for inbound delivery.",
        "operationId": "postInboundDomains",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "the inbound domains associated with the account",
              "items": {
                "type": "object",
                "description": "the individual domain info",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "the domain name that is accepting mail",
                    "example": "https://intuit.com"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "the date and time that the inbound domain was added as a UTC string in YYYY-MM-DD HH:MM:SS format",
                    "format": "date-time",
                    "example": "2025-04-29 18:47:35"
                  },
                  "valid_mx": {
                    "type": "boolean",
                    "description": "true if this inbound domain has successfully set up an MX record to deliver mail to the Mandrill servers",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/add-domain": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "addDomain",
          "methodNameSnake": "add_domain"
        },
        "summary": "Add inbound domain",
        "description": "Add an inbound domain to your account.",
        "operationId": "postInboundAddDomain",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "domain"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "domain": {
                  "type": "string",
                  "description": "a domain name; Validation: strip_tags, required"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the domain",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "the domain name that is accepting mail",
                  "example":"https://intuit.com"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the inbound domain was added as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time",
                  "example": "2025-04-29 18:47:35"
                },
                "valid_mx": {
                  "type": "boolean",
                  "description": "true if this inbound domain has successfully set up an MX record to deliver mail to the Mandrill servers",
                  "example": true
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/check-domain": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "checkDomain",
          "methodNameSnake": "check_domain"
        },
        "summary": "Check domain settings",
        "description": "Check the MX settings for an inbound domain. The domain must have already been added with the add-domain call.",
        "operationId": "postInboundCheckDomain",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "domain"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "domain": {
                  "type": "string",
                  "description": "an existing inbound domain"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the inbound domain",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "the domain name that is accepting mail",
                  "example": "https://intuit.com"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the inbound domain was added as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time",
                  "example":"2025-04-29 18:47:35"
                },
                "valid_mx": {
                  "type": "boolean",
                  "description": "true if this inbound domain has successfully set up an MX record to deliver mail to the Mandrill servers",
                  "example": true
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/delete-domain": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "deleteDomain",
          "methodNameSnake": "delete_domain"
        },
        "summary": "Delete inbound domain",
        "description": "Delete an inbound domain from the account. All mail will stop routing for this domain immediately.",
        "operationId": "postInboundDeleteDomain",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "domain"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "domain": {
                  "type": "string",
                  "description": "an existing inbound domain"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the deleted domain",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "the domain name that is accepting mail",
                  "example": "https://intuit.com"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the inbound domain was added as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time",
                  "example": "2025-04-29 18:47:35"
                },
                "valid_mx": {
                  "type": "boolean",
                  "description": "true if this inbound domain has successfully set up an MX record to deliver mail to the Mandrill servers",
                  "example": true
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/routes": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "routes",
          "methodNameSnake": "routes"
        },
        "summary": "List routes",
        "description": "List the routes defined for an inbound domain or SMS program. Provide either domain or phone (not both).",
        "operationId": "postInboundRoutes",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "domain": {
                  "type": "string",
                  "description": "The domain to check (required if phone is not provided)"
                },
                "phone": {
                  "type": "string",
                  "description": "The SMS program phone number (required if domain is not provided)"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "the routes associated with the domain",
              "items": {
                "type": "object",
                "description": "the individual mailbox route",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "the unique identifier of the route",
                    "example": "12.123456"
                  },
                  "pattern": {
                    "type": "string",
                    "description": "the search pattern that the mailbox name should match",
                    "example": ".*"
                  },
                  "url": {
                    "type": "string",
                    "description": "the webhook URL where inbound messages will be published",
                    "example": "https://mydomain.com/webhook"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/add-route": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "addRoute",
          "methodNameSnake": "add_route"
        },
        "summary": "Add route",
        "description": "Add a new route to an inbound domain or SMS program. Provide either domain or phone (not both).",
        "operationId": "postInboundAddRoute",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "url"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "domain": {
                  "type": "string",
                  "description": "An existing inbound domain (required if phone is not provided)"
                },
                "phone": {
                    "description": "The SMS program phone number - the TO number that receives inbound SMS (required if domain is not provided)",
                    "type": "string"
                },
                "pattern": {
                  "type": "string",
                  "description": "For email: the mailbox pattern (e.g., \"mailbox-*\"). For SMS: not used, the phone number is the pattern."
                },
                "url": {
                  "type": "string",
                  "description": "the webhook URL where the inbound messages will be published"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "the added mailbox route information",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier of the route",
                  "example": "12.123456"
                },
                "pattern": {
                  "type": "string",
                  "description": "the search pattern that the mailbox name should match",
                  "example": ".*"
                },
                "url": {
                  "type": "string",
                  "description": "the webhook URL where inbound messages will be published",
                  "example": "https://mydomain.com/webhook"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/update-route": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "updateRoute",
          "methodNameSnake": "update_route"
        },
        "summary": "Update mailbox route",
        "description": "Update the pattern or webhook of an existing inbound mailbox route. If null is provided for any fields, the values will remain unchanged.",
        "operationId": "postInboundUpdateRoute",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "id"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "id": {
                  "type": "string",
                  "description": "the unique identifier of an existing mailbox route"
                },
                "pattern": {
                  "type": "string",
                  "description": "For email: The search pattern that the mailbox name should match. For SMS: the sender's phone number (FROM number).  Null to leave unchanged"
                },
                "url": {
                  "type": "string",
                  "description": "the webhook URL where the inbound messages will be published; Validation: webhookexists"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "the updated mailbox route information",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier of the route",
                  "example": "12.123456"
                },
                "pattern": {
                  "type": "string",
                  "description": "the search pattern that the mailbox name should match",
                  "example": ".*"
                },
                "url": {
                  "type": "string",
                  "description": "the webhook URL where inbound messages will be published",
                  "example": "https://mydomain.com/webhook"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/delete-route": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "deleteRoute",
          "methodNameSnake": "delete_route"
        },
        "summary": "Delete mailbox route",
        "description": "Delete an existing inbound mailbox route.",
        "operationId": "postInboundDeleteRoute",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "id"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "id": {
                  "type": "string",
                  "description": "the unique identifier of an existing route"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "the deleted mailbox route information",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier of the route",
                  "example": "12.123456"
                },
                "pattern": {
                  "type": "string",
                  "description": "the search pattern that the mailbox name should match",
                  "example": ".*"
                },
                "url": {
                  "type": "string",
                  "description": "the webhook URL where inbound messages will be published",
                  "example": "https://mydomain.com/webhook"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/send-raw": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "sendRaw",
          "methodNameSnake": "send_raw"
        },
        "summary": "Send mime document",
        "description": "Take a raw MIME document destined for a domain with inbound domains set up, and send it to the inbound hook exactly as if it had been sent over SMTP.",
        "operationId": "postInboundSendRaw",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "raw_message"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "raw_message": {
                  "type": "string",
                  "description": "the full MIME document of an email message"
                },
                "to": {
                  "type": "array",
                  "description": "optionally define the recipients to receive the message - otherwise we'll use the To, Cc, and Bcc headers provided in the document",
                  "items": {
                    "type": "string",
                    "description": "the email address of the recipient",
                    "format": "email"
                  }
                },
                "mail_from": {
                  "type": "string",
                  "description": "the address specified in the MAIL FROM stage of the SMTP conversation. Required for the SPF check.",
                  "format": "email"
                },
                "helo": {
                  "type": "string",
                  "description": "the identification provided by the client mta in the MTA state of the SMTP conversation. Required for the SPF check."
                },
                "client_address": {
                  "type": "string",
                  "description": "the remote MTA's ip address. Optional; required for the SPF check."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "an array of the information for each recipient in the message (usually one) that matched an inbound route",
              "items": {
                "type": "object",
                "description": "the individual recipient information",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "the email address of the matching recipient",
                    "example": "user@example.com"
                  },
                  "pattern": {
                    "type": "string",
                    "description": "the mailbox route pattern that the recipient matched",
                    "example": ".*"
                  },
                  "url": {
                    "type": "string",
                    "description": "the webhook URL that the message was posted to",
                    "example": "https://mydomain.com/webhook"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/list": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "list",
          "methodNameSnake": "list"
        },
        "summary": "List ip addresses",
        "description": "Lists your dedicated IPs.",
        "operationId": "postIpsList",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "an array of objects for each dedicated IP",
              "items": {
                "type": "object",
                "description": "information about a single dedicated IP",
                "properties": {
                  "ip": {
                    "type": "string",
                    "description": "the ip address",
                    "example": "123.123.123.123"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                    "example": "2025-04-29 18:47:35"
                  },
                  "pool": {
                    "type": "string",
                    "description": "the name of the pool that this dedicated IP belongs to",
                    "example": "Main Pool"
                  },
                  "domain": {
                    "type": "string",
                    "description": "the domain name (reverse dns) of this dedicated IP",
                    "example": "example.com"
                  },
                  "custom_dns": {
                    "type": "object",
                    "description": "information about the ip's custom dns, if it has been configured",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "a boolean indicating whether custom dns has been configured for this ip",
                        "example": true
                      },
                      "valid": {
                        "type": "boolean",
                        "description": "whether the ip's custom dns is currently valid",
                        "example": true
                      },
                      "error": {
                        "type": "string",
                        "description": "if the ip's custom dns is invalid, this will include details about the error",
                        "example": "Invalid reverse DNS"
                      }
                    }
                  },
                  "warmup": {
                    "type": "object",
                    "description": "information about the ip's warmup status",
                    "properties": {
                      "warming_up": {
                        "type": "boolean",
                        "description": "whether the ip is currently in warmup mode",
                        "example": false
                      },
                      "start_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                        "example": "2025-04-25 12:00:00"
                      },
                      "end_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                        "example": "2025-04-29 12:00:00"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/info": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "info",
          "methodNameSnake": "info"
        },
        "summary": "Get ip info",
        "description": "Retrieves information about a single dedicated IP.",
        "operationId": "postIpsInfo",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "ip": {
                  "type": "string",
                  "description": "a dedicated IP address"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "Information about the dedicated ip",
              "properties": {
                "ip": {
                  "type": "string",
                  "description": "the ip address",
                  "example": "123.123.123.123"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time",
                  "example": "2025-04-29 18:47:35"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of the pool that this dedicated IP belongs to",
                  "example": "Main Pool"
                },
                "domain": {
                  "type": "string",
                  "description": "the domain name (reverse dns) of this dedicated IP",
                  "example": "example.com"
                },
                "custom_dns": {
                  "type": "object",
                  "description": "information about the ip's custom dns, if it has been configured",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "a boolean indicating whether custom dns has been configured for this ip",
                      "example": true
                    },
                    "valid": {
                      "type": "boolean",
                      "description": "whether the ip's custom dns is currently valid",
                      "example": true
                    },
                    "error": {
                      "type": "string",
                      "description": "if the ip's custom dns is invalid, this will include details about the error",
                      "example": "Invalid reverse DNS"
                    }
                  }
                },
                "warmup": {
                  "type": "object",
                  "description": "information about the ip's warmup status",
                  "properties": {
                    "warming_up": {
                      "type": "boolean",
                      "description": "whether the ip is currently in warmup mode",
                      "example": false
                    },
                    "start_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2025-04-25 12:00:00"
                    },
                    "end_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2025-05-25 12:00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/provision": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "provision",
          "methodNameSnake": "provision"
        },
        "summary": "Request additional ip",
        "description": "Requests an additional dedicated IP for your account. Accounts may have one outstanding request at any time, and provisioning requests are processed within 24 hours.",
        "operationId": "postIpsProvision",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "warmup": {
                  "type": "boolean",
                  "description": "whether to enable warmup mode for the ip"
                },
                "pool": {
                  "type": "string",
                  "description": "the id of the pool to add the dedicated ip to, or null to use your account's default pool"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "a description of the provisioning request that was created",
              "properties": {
                "requested_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "the date and time that the request was created as a UTC timestamp in YYYY-MM-DD HH:MM:SS format",
                  "example": "2025-04-29 18:47:35"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/start-warmup": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "startWarmup",
          "methodNameSnake": "start_warmup"
        },
        "summary": "Start ip warmup",
        "description": "Begins the warmup process for a dedicated IP. During the warmup process, the Transactional API will gradually increase the percentage of your mail that is sent over the warming-up IP, over a period of roughly 30 days. The rest of your mail will be sent over shared IPs or other dedicated IPs in the same pool.",
        "operationId": "postIpsStartWarmup",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "ip"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "ip": {
                  "type": "string",
                  "description": "a dedicated ip address"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "Information about the dedicated IP",
              "properties": {
                "ip": {
                  "type": "string",
                  "description": "the ip address",
                  "example": "123.123.123.123"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "example": "2025-04-29 18:47:35"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of the pool that this dedicated IP belongs to",
                  "example": "Main Pool"
                },
                "domain": {
                  "type": "string",
                  "description": "the domain name (reverse dns) of this dedicated IP",
                  "example": "example.com"
                },
                "custom_dns": {
                  "type": "object",
                  "description": "information about the ip's custom dns, if it has been configured",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "a boolean indicating whether custom dns has been configured for this ip",
                      "example": true
                    },
                    "valid": {
                      "type": "boolean",
                      "description": "whether the ip's custom dns is currently valid",
                      "example": true
                    },
                    "error": {
                      "type": "string",
                      "description": "if the ip's custom dns is invalid, this will include details about the error",
                      "example": "Invalid reverse DNS"
                    }
                  }
                },
                "warmup": {
                  "type": "object",
                  "description": "information about the ip's warmup status",
                  "properties": {
                    "warming_up": {
                      "type": "boolean",
                      "description": "whether the ip is currently in warmup mode",
                      "example": true
                    },
                    "start_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2025-04-25 12:00:00"
                    },
                    "end_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2025-05-25 12:00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/cancel-warmup": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "cancelWarmup",
          "methodNameSnake": "cancel_warmup"
        },
        "summary": "Cancel ip warmup",
        "description": "Cancels the warmup process for a dedicated IP.",
        "operationId": "postIpsCancelWarmup",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "ip"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "ip": {
                  "type": "string",
                  "description": "a dedicated ip address"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "Information about the dedicated IP",
              "properties": {
                "ip": {
                  "type": "string",
                  "description": "the ip address",
                  "example": "123.123.123.123"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "example": "2025-04-29 18:47:35"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of the pool that this dedicated IP belongs to",
                  "example": "Main Pool"
                },
                "domain": {
                  "type": "string",
                  "description": "the domain name (reverse dns) of this dedicated IP",
                  "example": "example.com"
                },
                "custom_dns": {
                  "type": "object",
                  "description": "information about the ip's custom dns, if it has been configured",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "a boolean indicating whether custom dns has been configured for this ip",
                      "example": true
                    },
                    "valid": {
                      "type": "boolean",
                      "description": "whether the ip's custom dns is currently valid",
                      "example": true
                    },
                    "error": {
                      "type": "string",
                      "description": "if the ip's custom dns is invalid, this will include details about the error",
                      "example": "Invalid reverse DNS"
                    }
                  }
                },
                "warmup": {
                  "type": "object",
                  "description": "information about the ip's warmup status",
                  "properties": {
                    "warming_up": {
                      "type": "boolean",
                      "description": "whether the ip is currently in warmup mode",
                      "example": false
                    },
                    "start_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2025-04-25 12:00:00"
                    },
                    "end_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2025-05-25 12:00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/set-pool": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "setPool",
          "methodNameSnake": "set_pool"
        },
        "summary": "Move ip to different pool",
        "description": "Moves a dedicated IP to a different pool.",
        "operationId": "postIpsSetPool",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "ip", "pool"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "ip": {
                  "type": "string",
                  "description": "a dedicated ip address"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of the new pool to add the dedicated ip to"
                },
                "create_pool": {
                  "type": "boolean",
                  "description": "whether to create the pool if it does not exist; if false and the pool does not exist, an Unknown_Pool will be thrown."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "Information about the updated state of the dedicated IP",
              "properties": {
                "ip": {
                  "type": "string",
                  "description": "the ip address",
                  "example": "123.123.123.123"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "example": "2025-04-29 18:47:35"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of the pool that this dedicated IP belongs to",
                  "example": "Main Pool"
                },
                "domain": {
                  "type": "string",
                  "description": "the domain name (reverse dns) of this dedicated IP",
                  "example": "example.com"
                },
                "custom_dns": {
                  "type": "object",
                  "description": "information about the ip's custom dns, if it has been configured",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "a boolean indicating whether custom dns has been configured for this ip",
                      "example": true
                    },
                    "valid": {
                      "type": "boolean",
                      "description": "whether the ip's custom dns is currently valid",
                      "example": true
                    },
                    "error": {
                      "type": "string",
                      "description": "if the ip's custom dns is invalid, this will include details about the error",
                      "example": "Invalid reverse DNS"
                    }
                  }
                },
                "warmup": {
                  "type": "object",
                  "description": "information about the ip's warmup status",
                  "properties": {
                    "warming_up": {
                      "type": "boolean",
                      "description": "whether the ip is currently in warmup mode",
                      "example": false
                    },
                    "start_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2025-04-25 12:00:00"
                    },
                    "end_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                      "example": "2025-05-25 12:00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/delete": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "delete",
          "methodNameSnake": "delete"
        },
        "summary": "Delete ip address",
        "description": "Deletes a dedicated IP. This is permanent and cannot be undone.",
        "operationId": "postIpsDelete",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "ip"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "ip": {
                  "type": "string",
                  "description": "the dedicated ip to remove from your account"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "a description of the ip that was removed from your account.",
              "properties": {
                "ip": {
                  "type": "string",
                  "description": "the ip address",
                  "example": "123.123.123.123"
                },
                "deleted": {
                  "type": "string",
                  "description": "a boolean indicating whether the ip was successfully deleted",
                  "example": true
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/list-pools": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "listPools",
          "methodNameSnake": "list_pools"
        },
        "summary": "List ip pools",
        "description": "Lists your dedicated IP pools.",
        "operationId": "postIpsListPools",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "the dedicated IP pools for your account, up to a maximum of 1,000",
              "items": {
                "type": "object",
                "description": "information about each dedicated IP pool",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "this pool's name",
                    "example": "Main Pool"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "the date and time that this pool was created as a UTC timestamp in YYYY-MM-DD HH:MM:SS format",
                    "example": "2025-04-29 18:47:35"
                  },
                  "ips": {
                    "type": "array",
                    "description": "the dedicated IPs in this pool",
                    "items": {
                      "type": "object",
                      "description": "information about each dedicated IP",
                      "properties": {
                        "ip": {
                          "type": "string",
                          "description": "the ip address",
                          "example": "123.123.123.123"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                          "example": "2025-04-30 12:00:00"
                        },
                        "pool": {
                          "type": "string",
                          "description": "the name of the pool that this dedicated IP belongs to",
                          "example": "Main Pool"
                        },
                        "domain": {
                          "type": "string",
                          "description": "the domain name (reverse dns) of this dedicated IP",
                          "example": "example.com"
                        },
                        "custom_dns": {
                          "type": "object",
                          "description": "information about the ip's custom dns, if it has been configured",
                          "properties": {
                            "enabled": {
                              "type": "boolean",
                              "description": "a boolean indicating whether custom dns has been configured for this ip",
                              "example": true
                            },
                            "valid": {
                              "type": "boolean",
                              "description": "whether the ip's custom dns is currently valid",
                              "example": true
                            },
                            "error": {
                              "type": "string",
                              "description": "if the ip's custom dns is invalid, this will include details about the error",
                              "example": "Invalid reverse DNS"
                            }
                          }
                        },
                        "warmup": {
                          "type": "object",
                          "description": "information about the ip's warmup status",
                          "properties": {
                            "warming_up": {
                              "type": "boolean",
                              "description": "whether the ip is currently in warmup mode",
                              "example": false
                            },
                            "start_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                              "example": "2025-04-25 12:00:00"
                            },
                            "end_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                              "example": "2025-04-30 12:00:00"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/pool-info": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "poolInfo",
          "methodNameSnake": "pool_info"
        },
        "summary": "Get ip pool info",
        "description": "Describes a single dedicated IP pool.",
        "operationId": "postIpsPoolInfo",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "pool"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "pool": {
                  "type": "string",
                  "description": "a pool name"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "Information about the dedicated ip pool",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "this pool's name",
                  "example": "Main Pool"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "the date and time that this pool was created as a UTC timestamp in YYYY-MM-DD HH:MM:SS format",
                  "example": "2025-04-29 18:47:35"
                },
                "ips": {
                  "type": "array",
                  "description": "the dedicated IPs in this pool",
                  "items": {
                    "type": "object",
                    "description": "information about each dedicated IP",
                    "properties": {
                      "ip": {
                        "type": "string",
                        "description": "the ip address",
                        "example": "123.123.123.123"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                        "example": "2025-04-30 12:00:00"
                      },
                      "pool": {
                        "type": "string",
                        "description": "the name of the pool that this dedicated IP belongs to",
                        "example": "Main Pool"
                      },
                      "domain": {
                        "type": "string",
                        "description": "the domain name (reverse dns) of this dedicated IP",
                        "example": "example.com"
                      },
                      "custom_dns": {
                        "type": "object",
                        "description": "information about the ip's custom dns, if it has been configured",
                        "properties": {
                          "enabled": {
                            "type": "boolean",
                            "description": "a boolean indicating whether custom dns has been configured for this ip",
                            "example": true
                          },
                          "valid": {
                            "type": "boolean",
                            "description": "whether the ip's custom dns is currently valid",
                            "example": true
                          },
                          "error": {
                            "type": "string",
                            "description": "if the ip's custom dns is invalid, this will include details about the error",
                            "example": "Invalid reverse DNS"
                          }
                        }
                      },
                      "warmup": {
                        "type": "object",
                        "description": "information about the ip's warmup status",
                        "properties": {
                          "warming_up": {
                            "type": "boolean",
                            "description": "whether the ip is currently in warmup mode",
                            "example": false
                          },
                          "start_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                            "example": "2025-04-25 12:00:00"
                          },
                          "end_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                            "example": "2025-04-30 12:00:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/create-pool": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "createPool",
          "methodNameSnake": "create_pool"
        },
        "summary": "Add ip pool",
        "description": "Creates a pool and returns it. If a pool already exists with this name, no action will be performed.",
        "operationId": "postIpsCreatePool",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "pool"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of a pool to create"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "Information about the dedicated ip pool",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "this pool's name",
                  "example": "Main Pool"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "the date and time that this pool was created as a UTC timestamp in YYYY-MM-DD HH:MM:SS format",
                  "example": "2025-04-29 18:47:35"
                },
                "ips": {
                  "type": "array",
                  "description": "the dedicated IPs in this pool",
                  "items": {
                    "type": "object",
                    "description": "information about each dedicated IP",
                    "properties": {
                      "ip": {
                        "type": "string",
                        "description": "the ip address",
                        "example": "123.123.123.123"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                        "example": "2025-04-30 12:00:00"
                      },
                      "pool": {
                        "type": "string",
                        "description": "the name of the pool that this dedicated IP belongs to",
                        "example": "Main Pool"
                      },
                      "domain": {
                        "type": "string",
                        "description": "the domain name (reverse dns) of this dedicated IP",
                        "example": "example.com"
                      },
                      "custom_dns": {
                        "type": "object",
                        "description": "information about the ip's custom dns, if it has been configured",
                        "properties": {
                          "enabled": {
                            "type": "boolean",
                            "description": "a boolean indicating whether custom dns has been configured for this ip",
                            "example": true
                          },
                          "valid": {
                            "type": "boolean",
                            "description": "whether the ip's custom dns is currently valid",
                            "example": true
                          },
                          "error": {
                            "type": "string",
                            "description": "if the ip's custom dns is invalid, this will include details about the error",
                            "example": "Invalid reverse DNS"
                          }
                        }
                      },
                      "warmup": {
                        "type": "object",
                        "description": "information about the ip's warmup status",
                        "properties": {
                          "warming_up": {
                            "type": "boolean",
                            "description": "whether the ip is currently in warmup mode",
                            "example": false
                          },
                          "start_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                            "example": "2025-04-25 12:00:00"
                          },
                          "end_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format",
                            "example": "2025-04-30 12:00:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/delete-pool": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "deletePool",
          "methodNameSnake": "delete_pool"
        },
        "summary": "Delete ip pool",
        "description": "Deletes a pool. A pool must be empty before you can delete it, and you cannot delete your default pool.",
        "operationId": "postIpsDeletePool",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "pool"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of the pool to delete"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the status of the pool that was deleted",
              "properties": {
                "pool": {
                  "type": "string",
                  "description": "the name of the pool",
                  "example": "Main Pool"
                },
                "deleted": {
                  "type": "boolean",
                  "description": "whether the pool was deleted",
                  "example": true
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/check-custom-dns": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "checkCustomDns",
          "methodNameSnake": "check_custom_dns"
        },
        "summary": "Test custom dns",
        "description": "Tests whether a domain name is valid for use as the custom reverse DNS for a dedicated IP.",
        "operationId": "postIpsCheckCustomDns",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "ip", "domain"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "ip": {
                  "type": "string",
                  "description": "a dedicated ip address"
                },
                "domain": {
                  "type": "string",
                  "description": "the domain name to test"
                }
              }
            }
          }
        ],
        "responses": {
[...]
