{
  "x-doc-structure": {
    "resources": {
      "exports": {
        "title": "Exports",
        "description": "Start an export, or get information on export jobs in progress.",
        "paths": [
          "/exports/info",
          "/exports/list",
          "/exports/rejects",
          "/exports/whitelist",
          "/exports/activity"
        ]
      },
      "inbound": {
        "title": "Inbound",
        "description": "Manage your inbound domains and routes.",
        "paths": [
          "/inbound/domains",
          "/inbound/add-domain",
          "/inbound/check-domain",
          "/inbound/delete-domain",
          "/inbound/routes",
          "/inbound/add-route",
          "/inbound/update-route",
          "/inbound/delete-route",
          "/inbound/send-raw"
        ]
      },
      "ips": {
        "title": "IPs",
        "description": "Request and manage Dedicated IPs for your account, and set up reverse DNS.",
        "paths": [
          "/ips/list",
          "/ips/info",
          "/ips/provision",
          "/ips/start-warmup",
          "/ips/cancel-warmup",
          "/ips/set-pool",
          "/ips/delete",
          "/ips/list-pools",
          "/ips/pool-info",
          "/ips/create-pool",
          "/ips/delete-pool",
          "/ips/check-custom-dns",
          "/ips/set-custom-dns"
        ]
      },
      "messages": {
        "title": "Messages",
        "description": "Send, schedule, or get information on your emails.",
        "paths": [
          "/messages/send",
          "/messages/send-template",
          "/messages/search",
          "/messages/search-time-series",
          "/messages/info",
          "/messages/content",
          "/messages/parse",
          "/messages/send-raw",
          "/messages/list-scheduled",
          "/messages/cancel-scheduled",
          "/messages/reschedule"
        ]
      },
      "metadata": {
        "title": "Metadata",
        "description": "Manage your custom metadata fields in your account.",
        "paths": [
          "/metadata/list",
          "/metadata/add",
          "/metadata/update",
          "/metadata/delete"
        ]
      },
      "rejects": {
        "title": "Rejects",
        "description": "Add, list, or delete from your Rejection Blocklist.",
        "paths": ["/rejects/add", "/rejects/list", "/rejects/delete"]
      },
      "senders": {
        "title": "Senders",
        "description": "Manage or get information about your sending domains.",
        "paths": [
          "/senders/list",
          "/senders/domains",
          "/senders/add-domain",
          "/senders/check-domain",
          "/senders/verify-domain",
          "/senders/info",
          "/senders/time-series"
        ]
      },
      "subaccounts": {
        "title": "Subaccounts",
        "description": "Manage your subaccounts, including the abilitiy to pause and resume sending.",
        "paths": [
          "/subaccounts/list",
          "/subaccounts/add",
          "/subaccounts/info",
          "/subaccounts/update",
          "/subaccounts/delete",
          "/subaccounts/pause",
          "/subaccounts/resume"
        ]
      },
      "tags": {
        "title": "Tags",
        "description": "List, delete, or get information on your Tags and their sending statistics.",
        "paths": [
          "/tags/list",
          "/tags/delete",
          "/tags/info",
          "/tags/time-series",
          "/tags/all-time-series"
        ]
      },
      "templates": {
        "title": "Templates",
        "description": "Manage the Templates in your account.",
        "paths": [
          "/templates/add",
          "/templates/info",
          "/templates/update",
          "/templates/publish",
          "/templates/delete",
          "/templates/list",
          "/templates/time-series",
          "/templates/render"
        ]
      },
      "urls": {
        "title": "URLs",
        "description": "Manage your tracking domains. Some of these endpoints may be deprecated.",
        "paths": [
          "/urls/list",
          "/urls/search",
          "/urls/time-series",
          "/urls/tracking-domains",
          "/urls/add-tracking-domain",
          "/urls/check-tracking-domain"
        ]
      },
      "users": {
        "title": "Users",
        "description": "Get information about your account, or ping Transactional.",
        "paths": [
          "/users/info",
          "/users/ping",
          "/users/ping2",
          "/users/senders"
        ]
      },
      "webhooks": {
        "title": "Webhooks",
        "description": "Manage the webhooks in your account.",
        "paths": [
          "/webhooks/list",
          "/webhooks/add",
          "/webhooks/info",
          "/webhooks/update",
          "/webhooks/delete"
        ]
      },
      "whitelists": {
        "title": "Whitelists",
        "description": "Add, list, or delete from your Rejection Allowlist.",
        "paths": ["/whitelists/add", "/whitelists/list", "/whitelists/delete"]
      }
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.0.23",
    "title": "Mailchimp Transactional API",
    "contact": {
      "name": "API Support",
      "email": "apihelp@mailchimp.com"
    },
    "x-permalink": "https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/master/spec/transactional.json"
  },
  "host": "mandrillapp.com",
  "basePath": "/api/1.0",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": [
    "application/json",
    "application/xml",
    "application/x-php",
    "application/x-yaml; charset=utf-8"
  ],
  "paths": {
    "/exports/info": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "info",
          "methodNameSnake": "info"
        },
        "summary": "View export info",
        "description": "Returns information about an export job. If the export job's state is 'complete', the returned data will include a URL you can use to fetch the results. Every export job produces a zip archive, but the format of the archive is distinct for each job type. The api calls that initiate exports include more details about the output format for that job type.",
        "operationId": "postExportsInfo",
        "tags": ["exports"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "id"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "id": {
                  "type": "string",
                  "description": "an export job identifier"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "the information about the export",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier for this Export. Use this identifier when checking the export job's status"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "type": {
                  "type": "string",
                  "description": "the type of the export job - activity, reject, or whitelist"
                },
                "finished_at": {
                  "type": "string",
                  "description": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "state": {
                  "type": "string",
                  "description": "the export job's state - waiting, working, complete, error, or expired."
                },
                "result_url": {
                  "type": "string",
                  "description": "the url for the export job's results, if the job is completed."
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/list": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "list",
          "methodNameSnake": "list"
        },
        "summary": "List exports",
        "description": "Returns a list of your exports.",
        "operationId": "postExportsList",
        "tags": ["exports"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "the account's exports",
              "items": {
                "type": "object",
                "description": "the individual export info",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "the unique identifier for this Export. Use this identifier when checking the export job's status"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                    "format": "date-time"
                  },
                  "type": {
                    "type": "string",
                    "description": "the type of the export job - activity, reject, or whitelist"
                  },
                  "finished_at": {
                    "type": "string",
                    "description": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format",
                    "format": "date-time"
                  },
                  "state": {
                    "type": "string",
                    "description": "the export job's state - waiting, working, complete, error, or expired."
                  },
                  "result_url": {
                    "type": "string",
                    "description": "the url for the export job's results, if the job is completed."
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/rejects": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "rejects",
          "methodNameSnake": "rejects"
        },
        "summary": "Export blacklist",
        "description": "Begins an export of your rejection blacklist. The blacklist will be exported to a zip archive containing a single file named rejects.csv that includes the following fields: email, reason, detail, created_at, expires_at, last_event_at, expires_at.",
        "operationId": "postExportsRejects",
        "tags": ["exports"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "notify_email": {
                  "type": "string",
                  "description": "an optional email address to notify when the export job has finished.",
                  "format": "email"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the rejects export job that was started",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier for this Export. Use this identifier when checking the export job's status"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "type": {
                  "type": "string",
                  "description": "the type of the export job - activity, reject, or whitelist"
                },
                "finished_at": {
                  "type": "string",
                  "description": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "state": {
                  "type": "string",
                  "description": "the export job's state - waiting, working, complete, error, or expired."
                },
                "result_url": {
                  "type": "string",
                  "description": "the url for the export job's results, if the job is completed."
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/whitelist": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "whitelist",
          "methodNameSnake": "whitelist"
        },
        "summary": "Export whitelist",
        "description": "Begins an export of your rejection whitelist. The whitelist will be exported to a zip archive containing a single file named whitelist.csv that includes the following fields: email, detail, created_at.",
        "operationId": "postExportsWhitelist",
        "tags": ["exports"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "notify_email": {
                  "type": "string",
                  "description": "an optional email address to notify when the export job has finished.",
                  "format": "email"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the whitelist export job that was started",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier for this Export. Use this identifier when checking the export job's status"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "type": {
                  "type": "string",
                  "description": "the type of the export job"
                },
                "finished_at": {
                  "type": "string",
                  "description": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run",
                  "format": "date-time"
                },
                "state": {
                  "type": "string",
                  "description": "the export job's state"
                },
                "result_url": {
                  "type": "string",
                  "description": "the url for the export job's results, if the job is complete"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/exports/activity": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "activity",
          "methodNameSnake": "activity"
        },
        "summary": "Export activity history",
        "description": "Begins an export of your activity history. The activity will be exported to a zip archive containing a single file named activity.csv in the same format as you would be able to export from your account's activity view. It includes the following fields: Date, Email Address, Sender, Subject, Status, Tags, Opens, Clicks, Bounce Detail. If you have configured any custom metadata fields, they will be included in the exported data.",
        "operationId": "postExportsActivity",
        "tags": ["exports"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "notify_email": {
                  "type": "string",
                  "description": "an optional email address to notify when the export job has finished",
                  "format": "email"
                },
                "date_from": {
                  "type": "string",
                  "description": "start date as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "date_to": {
                  "type": "string",
                  "description": "end date as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "tags": {
                  "type": "array",
                  "description": "an array of tag names to narrow the export to; will match messages that contain ANY of the tags",
                  "items": {
                    "type": "string",
                    "description": "a tag name"
                  }
                },
                "senders": {
                  "type": "array",
                  "description": "an array of senders to narrow the export to",
                  "items": {
                    "type": "string",
                    "description": "a sender address"
                  }
                },
                "states": {
                  "type": "array",
                  "description": "an array of message states to narrow the export to; messages with ANY of the states will be included",
                  "items": {
                    "type": "string",
                    "description": "a message state",
                    "enum": [
                      "sent",
                      "rejected",
                      "bounced",
                      "soft-bounced",
                      "spam",
                      "unsub"
                    ]
                  }
                },
                "api_keys": {
                  "type": "array",
                  "description": "an array of api keys to narrow the export to; messsagse sent with ANY of the keys will be included",
                  "items": {
                    "type": "string",
                    "description": "an API key associated with your account"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the activity export job that was started",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier for this Export. Use this identifier when checking the export job's status"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the export job was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "type": {
                  "type": "string",
                  "description": "the type of the export job"
                },
                "finished_at": {
                  "type": "string",
                  "description": "the date and time that the export job was finished as a UTC string in YYYY-MM-DD HH:MM:SS format, or null for jobs that have not run",
                  "format": "date-time"
                },
                "state": {
                  "type": "string",
                  "description": "the export job's state"
                },
                "result_url": {
                  "type": "string",
                  "description": "the url for the export job's results, if the job is complete"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/domains": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "domains",
          "methodNameSnake": "domains"
        },
        "summary": "List inbound domains",
        "description": "List the domains that have been configured for inbound delivery.",
        "operationId": "postInboundDomains",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "the inbound domains associated with the account",
              "items": {
                "type": "object",
                "description": "the individual domain info",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "the domain name that is accepting mail"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "the date and time that the inbound domain was added as a UTC string in YYYY-MM-DD HH:MM:SS format",
                    "format": "date-time"
                  },
                  "valid_mx": {
                    "type": "boolean",
                    "description": "true if this inbound domain has successfully set up an MX record to deliver mail to the Mandrill servers"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/add-domain": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "addDomain",
          "methodNameSnake": "add_domain"
        },
        "summary": "Add inbound domain",
        "description": "Add an inbound domain to your account.",
        "operationId": "postInboundAddDomain",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "domain"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "domain": {
                  "type": "string",
                  "description": "a domain name; Validation: strip_tags, required"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the domain",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "the domain name that is accepting mail"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the inbound domain was added as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "valid_mx": {
                  "type": "boolean",
                  "description": "true if this inbound domain has successfully set up an MX record to deliver mail to the Mandrill servers"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/check-domain": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "checkDomain",
          "methodNameSnake": "check_domain"
        },
        "summary": "Check domain settings",
        "description": "Check the MX settings for an inbound domain. The domain must have already been added with the add-domain call.",
        "operationId": "postInboundCheckDomain",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "domain"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "domain": {
                  "type": "string",
                  "description": "an existing inbound domain"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the inbound domain",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "the domain name that is accepting mail"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the inbound domain was added as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "valid_mx": {
                  "type": "boolean",
                  "description": "true if this inbound domain has successfully set up an MX record to deliver mail to the Mandrill servers"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/delete-domain": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "deleteDomain",
          "methodNameSnake": "delete_domain"
        },
        "summary": "Delete inbound domain",
        "description": "Delete an inbound domain from the account. All mail will stop routing for this domain immediately.",
        "operationId": "postInboundDeleteDomain",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "domain"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "domain": {
                  "type": "string",
                  "description": "an existing inbound domain"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the deleted domain",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "the domain name that is accepting mail"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the inbound domain was added as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "valid_mx": {
                  "type": "boolean",
                  "description": "true if this inbound domain has successfully set up an MX record to deliver mail to the Mandrill servers"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/routes": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "routes",
          "methodNameSnake": "routes"
        },
        "summary": "List mailbox routes",
        "description": "List the mailbox routes defined for an inbound domain.",
        "operationId": "postInboundRoutes",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "domain"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "domain": {
                  "type": "string",
                  "description": "the domain to check"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "the routes associated with the domain",
              "items": {
                "type": "object",
                "description": "the individual mailbox route",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "the unique identifier of the route"
                  },
                  "pattern": {
                    "type": "string",
                    "description": "the search pattern that the mailbox name should match"
                  },
                  "url": {
                    "type": "string",
                    "description": "the webhook URL where inbound messages will be published"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/add-route": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "addRoute",
          "methodNameSnake": "add_route"
        },
        "summary": "Add mailbox route",
        "description": "Add a new mailbox route to an inbound domain.",
        "operationId": "postInboundAddRoute",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "domain", "pattern", "url"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "domain": {
                  "type": "string",
                  "description": "an existing inbound domain"
                },
                "pattern": {
                  "type": "string",
                  "description": "the search pattern that the mailbox name should match"
                },
                "url": {
                  "type": "string",
                  "description": "the webhook URL where the inbound messages will be published"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "the added mailbox route information",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier of the route"
                },
                "pattern": {
                  "type": "string",
                  "description": "the search pattern that the mailbox name should match"
                },
                "url": {
                  "type": "string",
                  "description": "the webhook URL where inbound messages will be published"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/update-route": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "updateRoute",
          "methodNameSnake": "update_route"
        },
        "summary": "Update mailbox route",
        "description": "Update the pattern or webhook of an existing inbound mailbox route. If null is provided for any fields, the values will remain unchanged.",
        "operationId": "postInboundUpdateRoute",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "id"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "id": {
                  "type": "string",
                  "description": "the unique identifier of an existing mailbox route"
                },
                "pattern": {
                  "type": "string",
                  "description": "the search pattern that the mailbox name should match"
                },
                "url": {
                  "type": "string",
                  "description": "the webhook URL where the inbound messages will be published; Validation: webhookexists"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "the updated mailbox route information",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier of the route"
                },
                "pattern": {
                  "type": "string",
                  "description": "the search pattern that the mailbox name should match"
                },
                "url": {
                  "type": "string",
                  "description": "the webhook URL where inbound messages will be published"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/delete-route": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "deleteRoute",
          "methodNameSnake": "delete_route"
        },
        "summary": "Delete mailbox route",
        "description": "Delete an existing inbound mailbox route.",
        "operationId": "postInboundDeleteRoute",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "id"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "id": {
                  "type": "string",
                  "description": "the unique identifier of an existing route"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "the deleted mailbox route information",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "the unique identifier of the route"
                },
                "pattern": {
                  "type": "string",
                  "description": "the search pattern that the mailbox name should match"
                },
                "url": {
                  "type": "string",
                  "description": "the webhook URL where inbound messages will be published"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/inbound/send-raw": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "sendRaw",
          "methodNameSnake": "send_raw"
        },
        "summary": "Send mime document",
        "description": "Take a raw MIME document destined for a domain with inbound domains set up, and send it to the inbound hook exactly as if it had been sent over SMTP.",
        "operationId": "postInboundSendRaw",
        "tags": ["inbound"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "raw_message"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "raw_message": {
                  "type": "string",
                  "description": "the full MIME document of an email message"
                },
                "to": {
                  "type": "array",
                  "description": "optionally define the recipients to receive the message - otherwise we'll use the To, Cc, and Bcc headers provided in the document",
                  "items": {
                    "type": "string",
                    "description": "the email address of the recipient",
                    "format": "email"
                  }
                },
                "mail_from": {
                  "type": "string",
                  "description": "the address specified in the MAIL FROM stage of the SMTP conversation. Required for the SPF check.",
                  "format": "email"
                },
                "helo": {
                  "type": "string",
                  "description": "the identification provided by the client mta in the MTA state of the SMTP conversation. Required for the SPF check."
                },
                "client_address": {
                  "type": "string",
                  "description": "the remote MTA's ip address. Optional; required for the SPF check."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "an array of the information for each recipient in the message (usually one) that matched an inbound route",
              "items": {
                "type": "object",
                "description": "the individual recipient information",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "the email address of the matching recipient"
                  },
                  "pattern": {
                    "type": "string",
                    "description": "the mailbox route pattern that the recipient matched"
                  },
                  "url": {
                    "type": "string",
                    "description": "the webhook URL that the message was posted to"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/list": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "list",
          "methodNameSnake": "list"
        },
        "summary": "List ip addresses",
        "description": "Lists your dedicated IPs.",
        "operationId": "postIpsList",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "an array of objects for each dedicated IP",
              "items": {
                "type": "object",
                "description": "information about a single dedicated IP",
                "properties": {
                  "ip": {
                    "type": "string",
                    "description": "the ip address"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
                  },
                  "pool": {
                    "type": "string",
                    "description": "the name of the pool that this dedicated IP belongs to"
                  },
                  "domain": {
                    "type": "string",
                    "description": "the domain name (reverse dns) of this dedicated IP"
                  },
                  "custom_dns": {
                    "type": "object",
                    "description": "information about the ip's custom dns, if it has been configured",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "a boolean indicating whether custom dns has been configured for this ip"
                      },
                      "valid": {
                        "type": "boolean",
                        "description": "whether the ip's custom dns is currently valid"
                      },
                      "error": {
                        "type": "string",
                        "description": "if the ip's custom dns is invalid, this will include details about the error"
                      }
                    }
                  },
                  "warmup": {
                    "type": "object",
                    "description": "information about the ip's warmup status",
                    "properties": {
                      "warming_up": {
                        "type": "boolean",
                        "description": "whether the ip is currently in warmup mode"
                      },
                      "start_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                      },
                      "end_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/info": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "info",
          "methodNameSnake": "info"
        },
        "summary": "Get ip info",
        "description": "Retrieves information about a single dedicated IP.",
        "operationId": "postIpsInfo",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "ip": {
                  "type": "string",
                  "description": "a dedicated IP address"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "Information about the dedicated ip",
              "properties": {
                "ip": {
                  "type": "string",
                  "description": "the ip address"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of the pool that this dedicated IP belongs to"
                },
                "domain": {
                  "type": "string",
                  "description": "the domain name (reverse dns) of this dedicated IP"
                },
                "custom_dns": {
                  "type": "object",
                  "description": "information about the ip's custom dns, if it has been configured",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "a boolean indicating whether custom dns has been configured for this ip"
                    },
                    "valid": {
                      "type": "boolean",
                      "description": "whether the ip's custom dns is currently valid"
                    },
                    "error": {
                      "type": "string",
                      "description": "if the ip's custom dns is invalid, this will include details about the error"
                    }
                  }
                },
                "warmup": {
                  "type": "object",
                  "description": "information about the ip's warmup status",
                  "properties": {
                    "warming_up": {
                      "type": "boolean",
                      "description": "whether the ip is currently in warmup mode"
                    },
                    "start_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                    },
                    "end_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/provision": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "provision",
          "methodNameSnake": "provision"
        },
        "summary": "Request additional ip",
        "description": "Requests an additional dedicated IP for your account. Accounts may have one outstanding request at any time, and provisioning requests are processed within 24 hours.",
        "operationId": "postIpsProvision",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "warmup": {
                  "type": "boolean",
                  "description": "whether to enable warmup mode for the ip"
                },
                "pool": {
                  "type": "string",
                  "description": "the id of the pool to add the dedicated ip to, or null to use your account's default pool"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "a description of the provisioning request that was created",
              "properties": {
                "requested_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "the date and time that the request was created as a UTC timestamp in YYYY-MM-DD HH:MM:SS format"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/start-warmup": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "startWarmup",
          "methodNameSnake": "start_warmup"
        },
        "summary": "Start ip warmup",
        "description": "Begins the warmup process for a dedicated IP. During the warmup process, the Transactional API will gradually increase the percentage of your mail that is sent over the warming-up IP, over a period of roughly 30 days. The rest of your mail will be sent over shared IPs or other dedicated IPs in the same pool.",
        "operationId": "postIpsStartWarmup",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "ip"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "ip": {
                  "type": "string",
                  "description": "a dedicated ip address"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "Information about the dedicated IP",
              "properties": {
                "ip": {
                  "type": "string",
                  "description": "the ip address"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of the pool that this dedicated IP belongs to"
                },
                "domain": {
                  "type": "string",
                  "description": "the domain name (reverse dns) of this dedicated IP"
                },
                "custom_dns": {
                  "type": "object",
                  "description": "information about the ip's custom dns, if it has been configured",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "a boolean indicating whether custom dns has been configured for this ip"
                    },
                    "valid": {
                      "type": "boolean",
                      "description": "whether the ip's custom dns is currently valid"
                    },
                    "error": {
                      "type": "string",
                      "description": "if the ip's custom dns is invalid, this will include details about the error"
                    }
                  }
                },
                "warmup": {
                  "type": "object",
                  "description": "information about the ip's warmup status",
                  "properties": {
                    "warming_up": {
                      "type": "boolean",
                      "description": "whether the ip is currently in warmup mode"
                    },
                    "start_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                    },
                    "end_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/cancel-warmup": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "cancelWarmup",
          "methodNameSnake": "cancel_warmup"
        },
        "summary": "Cancel ip warmup",
        "description": "Cancels the warmup process for a dedicated IP.",
        "operationId": "postIpsCancelWarmup",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "ip"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "ip": {
                  "type": "string",
                  "description": "a dedicated ip address"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "Information about the dedicated IP",
              "properties": {
                "ip": {
                  "type": "string",
                  "description": "the ip address"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of the pool that this dedicated IP belongs to"
                },
                "domain": {
                  "type": "string",
                  "description": "the domain name (reverse dns) of this dedicated IP"
                },
                "custom_dns": {
                  "type": "object",
                  "description": "information about the ip's custom dns, if it has been configured",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "a boolean indicating whether custom dns has been configured for this ip"
                    },
                    "valid": {
                      "type": "boolean",
                      "description": "whether the ip's custom dns is currently valid"
                    },
                    "error": {
                      "type": "string",
                      "description": "if the ip's custom dns is invalid, this will include details about the error"
                    }
                  }
                },
                "warmup": {
                  "type": "object",
                  "description": "information about the ip's warmup status",
                  "properties": {
                    "warming_up": {
                      "type": "boolean",
                      "description": "whether the ip is currently in warmup mode"
                    },
                    "start_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                    },
                    "end_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/set-pool": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "setPool",
          "methodNameSnake": "set_pool"
        },
        "summary": "Move ip to different pool",
        "description": "Moves a dedicated IP to a different pool.",
        "operationId": "postIpsSetPool",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "ip", "pool"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "ip": {
                  "type": "string",
                  "description": "a dedicated ip address"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of the new pool to add the dedicated ip to"
                },
                "create_pool": {
                  "type": "boolean",
                  "description": "whether to create the pool if it does not exist; if false and the pool does not exist, an Unknown_Pool will be thrown."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "Information about the updated state of the dedicated IP",
              "properties": {
                "ip": {
                  "type": "string",
                  "description": "the ip address"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of the pool that this dedicated IP belongs to"
                },
                "domain": {
                  "type": "string",
                  "description": "the domain name (reverse dns) of this dedicated IP"
                },
                "custom_dns": {
                  "type": "object",
                  "description": "information about the ip's custom dns, if it has been configured",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "a boolean indicating whether custom dns has been configured for this ip"
                    },
                    "valid": {
                      "type": "boolean",
                      "description": "whether the ip's custom dns is currently valid"
                    },
                    "error": {
                      "type": "string",
                      "description": "if the ip's custom dns is invalid, this will include details about the error"
                    }
                  }
                },
                "warmup": {
                  "type": "object",
                  "description": "information about the ip's warmup status",
                  "properties": {
                    "warming_up": {
                      "type": "boolean",
                      "description": "whether the ip is currently in warmup mode"
                    },
                    "start_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                    },
                    "end_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/delete": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "delete",
          "methodNameSnake": "delete"
        },
        "summary": "Delete ip address",
        "description": "Deletes a dedicated IP. This is permanent and cannot be undone.",
        "operationId": "postIpsDelete",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "ip"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "ip": {
                  "type": "string",
                  "description": "the dedicated ip to remove from your account"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "a description of the ip that was removed from your account.",
              "properties": {
                "ip": {
                  "type": "string",
                  "description": "the ip address"
                },
                "deleted": {
                  "type": "string",
                  "description": "a boolean indicating whether the ip was successfully deleted"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/list-pools": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "listPools",
          "methodNameSnake": "list_pools"
        },
        "summary": "List ip pools",
        "description": "Lists your dedicated IP pools.",
        "operationId": "postIpsListPools",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "description": "the dedicated IP pools for your account, up to a maximum of 1,000",
              "items": {
                "type": "object",
                "description": "information about each dedicated IP pool",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "this pool's name"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "the date and time that this pool was created as a UTC timestamp in YYYY-MM-DD HH:MM:SS format"
                  },
                  "ips": {
                    "type": "array",
                    "description": "the dedicated IPs in this pool",
                    "items": {
                      "type": "object",
                      "description": "information about each dedicated IP",
                      "properties": {
                        "ip": {
                          "type": "string",
                          "description": "the ip address"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
                        },
                        "pool": {
                          "type": "string",
                          "description": "the name of the pool that this dedicated IP belongs to"
                        },
                        "domain": {
                          "type": "string",
                          "description": "the domain name (reverse dns) of this dedicated IP"
                        },
                        "custom_dns": {
                          "type": "object",
                          "description": "information about the ip's custom dns, if it has been configured",
                          "properties": {
                            "enabled": {
                              "type": "boolean",
                              "description": "a boolean indicating whether custom dns has been configured for this ip"
                            },
                            "valid": {
                              "type": "boolean",
                              "description": "whether the ip's custom dns is currently valid"
                            },
                            "error": {
                              "type": "string",
                              "description": "if the ip's custom dns is invalid, this will include details about the error"
                            }
                          }
                        },
                        "warmup": {
                          "type": "object",
                          "description": "information about the ip's warmup status",
                          "properties": {
                            "warming_up": {
                              "type": "boolean",
                              "description": "whether the ip is currently in warmup mode"
                            },
                            "start_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                            },
                            "end_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/pool-info": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "poolInfo",
          "methodNameSnake": "pool_info"
        },
        "summary": "Get ip pool info",
        "description": "Describes a single dedicated IP pool.",
        "operationId": "postIpsPoolInfo",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "pool"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "pool": {
                  "type": "string",
                  "description": "a pool name"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "Information about the dedicated ip pool",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "this pool's name"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "the date and time that this pool was created as a UTC timestamp in YYYY-MM-DD HH:MM:SS format"
                },
                "ips": {
                  "type": "array",
                  "description": "the dedicated IPs in this pool",
                  "items": {
                    "type": "object",
                    "description": "information about each dedicated IP",
                    "properties": {
                      "ip": {
                        "type": "string",
                        "description": "the ip address"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
                      },
                      "pool": {
                        "type": "string",
                        "description": "the name of the pool that this dedicated IP belongs to"
                      },
                      "domain": {
                        "type": "string",
                        "description": "the domain name (reverse dns) of this dedicated IP"
                      },
                      "custom_dns": {
                        "type": "object",
                        "description": "information about the ip's custom dns, if it has been configured",
                        "properties": {
                          "enabled": {
                            "type": "boolean",
                            "description": "a boolean indicating whether custom dns has been configured for this ip"
                          },
                          "valid": {
                            "type": "boolean",
                            "description": "whether the ip's custom dns is currently valid"
                          },
                          "error": {
                            "type": "string",
                            "description": "if the ip's custom dns is invalid, this will include details about the error"
                          }
                        }
                      },
                      "warmup": {
                        "type": "object",
                        "description": "information about the ip's warmup status",
                        "properties": {
                          "warming_up": {
                            "type": "boolean",
                            "description": "whether the ip is currently in warmup mode"
                          },
                          "start_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                          },
                          "end_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/create-pool": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "createPool",
          "methodNameSnake": "create_pool"
        },
        "summary": "Add ip pool",
        "description": "Creates a pool and returns it. If a pool already exists with this name, no action will be performed.",
        "operationId": "postIpsCreatePool",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "pool"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of a pool to create"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "Information about the dedicated ip pool",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "this pool's name"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "the date and time that this pool was created as a UTC timestamp in YYYY-MM-DD HH:MM:SS format"
                },
                "ips": {
                  "type": "array",
                  "description": "the dedicated IPs in this pool",
                  "items": {
                    "type": "object",
                    "description": "information about each dedicated IP",
                    "properties": {
                      "ip": {
                        "type": "string",
                        "description": "the ip address"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format"
                      },
                      "pool": {
                        "type": "string",
                        "description": "the name of the pool that this dedicated IP belongs to"
                      },
                      "domain": {
                        "type": "string",
                        "description": "the domain name (reverse dns) of this dedicated IP"
                      },
                      "custom_dns": {
                        "type": "object",
                        "description": "information about the ip's custom dns, if it has been configured",
                        "properties": {
                          "enabled": {
                            "type": "boolean",
                            "description": "a boolean indicating whether custom dns has been configured for this ip"
                          },
                          "valid": {
                            "type": "boolean",
                            "description": "whether the ip's custom dns is currently valid"
                          },
                          "error": {
                            "type": "string",
                            "description": "if the ip's custom dns is invalid, this will include details about the error"
                          }
                        }
                      },
                      "warmup": {
                        "type": "object",
                        "description": "information about the ip's warmup status",
                        "properties": {
                          "warming_up": {
                            "type": "boolean",
                            "description": "whether the ip is currently in warmup mode"
                          },
                          "start_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                          },
                          "end_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/delete-pool": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "deletePool",
          "methodNameSnake": "delete_pool"
        },
        "summary": "Delete ip pool",
        "description": "Deletes a pool. A pool must be empty before you can delete it, and you cannot delete your default pool.",
        "operationId": "postIpsDeletePool",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "pool"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of the pool to delete"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the status of the pool that was deleted",
              "properties": {
                "pool": {
                  "type": "string",
                  "description": "the name of the pool"
                },
                "deleted": {
                  "type": "boolean",
                  "description": "whether the pool was deleted"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/check-custom-dns": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "checkCustomDns",
          "methodNameSnake": "check_custom_dns"
        },
        "summary": "Test custom dns",
        "description": "Tests whether a domain name is valid for use as the custom reverse DNS for a dedicated IP.",
        "operationId": "postIpsCheckCustomDns",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "ip", "domain"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "ip": {
                  "type": "string",
                  "description": "a dedicated ip address"
                },
                "domain": {
                  "type": "string",
                  "description": "the domain name to test"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the dedicated IP's new configuration",
              "properties": {
                "valid": {
                  "type": "string",
                  "description": "whether the domain name has a correctly-configured A record pointing to the ip address"
                },
                "error": {
                  "type": "string",
                  "description": "if valid is false, this will contain details about why the domain's A record is incorrect"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/ips/set-custom-dns": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "setCustomDns",
          "methodNameSnake": "set_custom_dns"
        },
        "summary": "Set custom dns",
        "description": "Configures the custom DNS name for a dedicated IP.",
        "operationId": "postIpsSetCustomDns",
        "tags": ["ips"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "ip", "domain"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "ip": {
                  "type": "string",
                  "description": "a dedicated ip address"
                },
                "domain": {
                  "type": "string",
                  "description": "a domain name to set as the dedicated IP's custom dns name."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "description": "information about the dedicated IP's new configuration",
              "properties": {
                "ip": {
                  "type": "string",
                  "description": "the ip address"
                },
                "created_at": {
                  "type": "string",
                  "description": "the date and time that the dedicated IP was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
                  "format": "date-time"
                },
                "pool": {
                  "type": "string",
                  "description": "the name of the pool that this dedicated IP belongs to"
                },
                "domain": {
                  "type": "string",
                  "description": "the domain name (reverse dns) of this dedicated IP"
                },
                "custom_dns": {
                  "type": "object",
                  "description": "information about the ip's custom dns, if it has been configured",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "a boolean indicating whether custom dns has been configured for this ip"
                    },
                    "valid": {
                      "type": "boolean",
                      "description": "whether the ip's custom dns is currently valid"
                    },
                    "error": {
                      "type": "string",
                      "description": "if the ip's custom dns is invalid, this will include details about the error"
                    }
                  }
                },
                "warmup": {
                  "type": "object",
                  "description": "information about the ip's warmup status",
                  "properties": {
                    "warming_up": {
                      "type": "boolean",
                      "description": "whether the ip is currently in warmup mode"
                    },
                    "start_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the start time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                    },
                    "end_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "the end date and time for the warmup process as a UTC string in YYYY-MM-DD HH:MM:SS format"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/messages/send": {
      "post": {
        "x-custom-config": {
          "methodNameCamel": "send",
          "methodNameSnake": "send"
        },
        "summary": "Send new message",
        "description": "Send a new transactional message through the Transactional API.",
        "operationId": "postMessagesSend",
        "tags": ["messages"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["key", "message"],
              "properties": {
                "key": {
                  "type": "string",
                  "description": "a valid api key"
                },
                "message": {
                  "type": "object",
                  "description": "the information on the message to send",
                  "properties": {
                    "html": {
                      "type": "string",
                      "description": "the full HTML content to be sent"
                    },
                    "text": {
                      "type": "string",
                      "description": "optional full text content to be sent"
                    },
                    "subject": {
                      "type": "string",
                      "description": "the message subject"
                    },
                    "from_email": {
                      "type": "string",
                      "description": "the sender email address",
                      "format": "email"
                    },
                    "from_name": {
                      "type": "string",
                      "description": "optional from name to be used"
                    },
                    "to": {
                      "type": "array",
                      "description": "an array of recipient information.",
                      "items": {
                        "type": "object",
                        "description": "a single recipient's information",
                        "required": ["email"],
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "the email address of the recipient",
                            "format": "email"
                          },
                          "name": {
                            "type": "string",
                            "description": "the optional display name to use for the recipient"
                          },
                          "type": {
                            "type": "string",
                            "description": "the header type to use for the recipient, defaults to \"to\" if not provided",
                            "enum": ["to", "cc", "bcc"]
                          }
                        }
                      }
                    },
                    "headers": {
                      "type": "object",
                      "description": "optional extra headers to add to the message (most headers are allowed)"
                    },
                    "important": {
                      "type": "boolean",
                      "description": "whether or not this message is important, and should be delivered ahead of non-important messages"
                    },
                    "track_opens": {
                      "type": "boolean",
                      "description": "whether or not to turn on open tracking for the message"
                    },
                    "track_clicks": {
                      "type": "boolean",
                      "description": "whether or not to turn on click tracking for the message"
                    },
                    "auto_text": {
                      "type": "boolean",
                      "description": "whether or not to automatically generate a text part for messages that are not given text"
                    },
                    "auto_html": {
                      "type": "boolean",
                      "description": "whether or not to automatically generate an HTML part for messages that are not given HTML"
                    },
                    "inline_css": {
                      "type": "boolean",
                      "description": "whether or not to automatically inline all CSS styles provided in the message HTML - only for HTML documents less than 256KB in size"
                    },
                    "url_strip_qs": {
                      "type": "boolean",
                      "description": "whether or not to strip the query string from URLs when aggregating tracked URL data"
                    },
                    "preserve_recipients": {
                      "type": "boolean",
                      "description": "whether or not to expose all recipients in to \"To\" header for each email"
                    },
                    "view_content_link": {
                      "type": "boolean",
                      "description": "set to false to remove content logging for sensitive emails"
                    },
                    "bcc_address": {
                      "type": "string",
                      "description": "an optional address to receive an exact copy of each recipient's email",
                      "format": "email"
                    },
                    "tracking_domain": {
                      "type": "string",
                      "description": "a custom domain to use for tracking opens and clicks instead of mandrillapp.com"
                    },
                    "signing_domain": {
                      "type": "string",
                      "description": "a custom domain to use for SPF/DKIM signing instead of mandrill (for \"via\" or \"on behalf of\" in email clients)"
                    },
                    "return_path_domain": {
                      "type": "string",
                      "description": "a custom domain to use for the messages's return-path"
                    },
                    "merge": {
                      "type": "boolean",
                      "description": "whether to evaluate merge tags in the message. Will automatically be set to true if either merge_vars or global_merge_vars are provided."
                    },
                    "merge_language": {
                      "type": "string",
                      "description": "the merge tag language to use when evaluating merge tags, either mailchimp or handlebars",
                      "enum": ["mailchimp", "handlebars"]
                    },
                    "global_merge_vars": {
                      "type": "array",
                      "description": "global merge variables to use for all recipients. You can override these per recipient.",
                      "items": {
                        "type": "object",
                        "description": "a single global merge variable",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "the global merge variable's name. Merge variable names are case-insensitive and may not start with _"
                          },
                          "content": {
                            "type": "string",
                            "description": "the global merge variable's content"
                          }
                        }
                      }
                    },
                    "merge_vars": {
                      "type": "array",
                      "description": "per-recipient merge variables, which override global merge variables with the same name.",
                      "items": {
                        "type": "object",
                        "description": "per-recipient merge variables",
                        "required": ["rcpt"],
                        "properties": {
                          "rcpt": {
                            "type": "string",
                            "description": "the email address of the recipient that the merge variables should apply to",
                            "format": "email"
                          },
                          "vars": {
                            "type": "array",
                            "description": "the recipient's merge variables",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "the merge variable's name. Merge variable names are case-insensitive and may not start with _"
                                },
                                "content": {
                                  "type": "string",
                                  "description": "the merge variable's content"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "description": "an array of string to tag the message with. Stats are accumulated using tags, though we only store the first 100 we see, so this should not be unique or change frequently. Tags should be 50 characters or less. Any tags starting with an underscore are reserved for internal use and will cause errors.",
                      "items": {
                        "type": "string",
                        "description": "a single tag - must not start with an underscore"
                      }
                    },
                    "subaccount": {
                      "type": "string",
                      "description": "the unique id of a subaccount for this message - must already exist or will fail with an error"
                    },
                    "google_analytics_domains": {
                      "type": "array",
                      "description": "an array of strings indicating for which any matching URLs will automatically have Google Analytics parameters appended to their query string automatically.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "google_analytics_campaign": {
                      "type": "string",
                      "description": "optional string indicating the value to set for the utm_campaign tracking parameter. If this isn't provided the email's from address will be used instead.",
                      "format": "email"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "metadata an associative array of user metadata. Mandrill will store this metadata and make it available for retrieval. In addition, you can select up to 10 metadata fields to index and make searchable using the Mandrill search api.",
                      "properties": {
                        "website": {
                          "type": "string",
                          "description": "a valid website url"
                        }
                      }
                    },
                    "recipient_metadata": {
                      "type": "array",
                      "description": "Per-recipient metadata that will override the global values specified in the metadata parameter.",
                      "items": {
                        "type": "object",
                        "description": "metadata for a single recipient",
                        "properties": {
                          "rcpt": {
                            "type": "string",
                            "description": "the email address of the recipient that the metadata is associated with",
                            "format": "email"
                          },
                          "values": {
                            "type": "object",
                            "description": "an associated array containing the recipient's unique metadata. If a key exists in both the per-recipient metadata and the global metadata, the per-recipient metadata will be used.",
                            "properties": {
                              "user_id": {
                                "type": "integer",
                                "description": ""
                              }
                            }
                          }
                        }
                      }
                    },
                    "attachments": {
                      "type": "array",
                      "description": "an array of supported attachments to add to the message",
                      "items": {
                        "type": "object",
                        "description": "a single supported attachment",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "the MIME type of the attachment"
                          },
                          "name": {
                            "type": "string",
[...]
