{
    "openapi": "3.1.0",
    "info": {
        "title": "Mailchimp Transactional API",
        "version": "1.1.0"
    },
    "servers": [
        {
            "url": "https://mandrillapp.com/api/1.1",
            "description": "Mailchimp Transactional API v1.1"
        }
    ],
    "paths": {
        "/allowlists/add": {
            "post": {
                "tags": [
                    "Allowlist"
                ],
                "summary": "Add email to allowlist",
                "description": "Adds an email to your email rejection allowlist. If the address is currently on your denylist, that denylist entry will be removed automatically.",
                "operationId": "allowlists_add",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AllowlistAddRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Email successfully added to allowlist",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllowlistAddResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/allowlists/list": {
            "post": {
                "tags": [
                    "Allowlist"
                ],
                "summary": "List allowlist entries",
                "description": "Retrieves your email rejection allowlist. You can provide an email address or search prefix to limit the results. Returns up to 1000 results.",
                "operationId": "allowlists_list",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AllowlistListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "List of allowlist entries",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllowlistListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/allowlists/delete": {
            "post": {
                "tags": [
                    "Allowlist"
                ],
                "summary": "Remove email from allowlist",
                "description": "Removes an email address from the allowlist.",
                "operationId": "allowlists_delete",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AllowlistDeleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Email successfully removed from allowlist",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllowlistDeleteResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/exports/info": {
            "post": {
                "tags": [
                    "Exports"
                ],
                "summary": "Get export job information",
                "description": "Returns information about an export job including status and download URL when complete.",
                "operationId": "exports_info",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "id"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "Export job identifier",
                                                "type": "string",
                                                "example": "2013-01-01 12:20:28.13842"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Export job information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown export job",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/exports/list": {
            "post": {
                "tags": [
                    "Exports"
                ],
                "summary": "List export jobs",
                "description": "Returns a list of all export jobs for the account.",
                "operationId": "exports_list",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiKey"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "List of export jobs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ExportResponse"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/exports/rejects": {
            "post": {
                "tags": [
                    "Exports"
                ],
                "summary": "Export rejection blacklist",
                "description": "Begins an export of your rejection blacklist. The blacklist will be exported to a zip archive containing a single file named rejects.csv.",
                "operationId": "exports_rejects",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "properties": {
                                            "notify_email": {
                                                "description": "Optional email address to notify when the export job has finished",
                                                "type": "string",
                                                "format": "email",
                                                "example": "admin@example.com"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the rejects export job that was started",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportJob"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/exports/whitelist": {
            "post": {
                "tags": [
                    "Exports"
                ],
                "summary": "Export rejection allowlist (legacy)",
                "description": "Begins an export of your rejection allowlist. The allowlist will be exported to a zip archive containing a single file named allowlist.csv.",
                "operationId": "exports_whitelist",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "properties": {
                                            "notify_email": {
                                                "description": "Optional email address to notify when the export job has finished",
                                                "type": "string",
                                                "format": "email",
                                                "example": "admin@example.com"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the allowlist export job that was started",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportJob"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/exports/allowlist": {
            "post": {
                "tags": [
                    "Exports"
                ],
                "summary": "Export rejection allowlist",
                "description": "Begins an export of your rejection allowlist. The allowlist will be exported to a zip archive containing a single file named allowlist.csv.",
                "operationId": "exports_allowlist",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "properties": {
                                            "notify_email": {
                                                "description": "Optional email address to notify when the export job has finished",
                                                "type": "string",
                                                "format": "email",
                                                "example": "admin@example.com"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the allowlist export job that was started",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportJob"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/exports/activity": {
            "post": {
                "tags": [
                    "Exports"
                ],
                "summary": "Export activity history",
                "description": "Begins an export of your activity history. The activity will be exported to a zip archive containing a single file named activity.csv with message details and custom metadata fields.",
                "operationId": "exports_activity",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExportActivityRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the activity export job that was started",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExportJob"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/list": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "List dedicated IPs",
                "description": "Lists your dedicated IPs.",
                "operationId": "ips_list",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiKey"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An array of dedicated IP information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DedicatedIPResponse"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/ips/info": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Get dedicated IP information",
                "description": "Retrieves information about a single dedicated IP.",
                "operationId": "ips_info",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "ip"
                                        ],
                                        "properties": {
                                            "ip": {
                                                "description": "A dedicated IP address",
                                                "type": "string",
                                                "example": "127.0.0.1"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the dedicated IP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DedicatedIPResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/ips/provision": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Request dedicated IP provisioning",
                "description": "Requests an additional dedicated IP for your account. Accounts may have one outstanding request at any time, and provisioning requests are processed within 24 hours.",
                "operationId": "ips_provision",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "properties": {
                                            "warmup": {
                                                "description": "Whether to enable warmup mode for the IP",
                                                "type": "boolean",
                                                "example": false
                                            },
                                            "pool": {
                                                "description": "The ID of the pool to add the dedicated IP to, or null to use your account's default pool",
                                                "example": "Main Pool",
                                                "oneOf": [
                                                    {
                                                        "type": "string"
                                                    },
                                                    {
                                                        "type": "null"
                                                    }
                                                ]
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A description of the provisioning request that was created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPProvisionResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "Payment required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown pool",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error (IP provision limit, no sending history, poor reputation)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/start-warmup": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Start IP warmup process",
                "description": "Begins the warmup process for a dedicated IP. During the warmup process, Mandrill will gradually increase the percentage of your mail that is sent over the warming-up IP, over a period of roughly 30 days. The rest of your mail will be sent over shared IPs or other dedicated IPs in the same pool.",
                "operationId": "ips_start_warmup",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "ip"
                                        ],
                                        "properties": {
                                            "ip": {
                                                "description": "A dedicated IP address",
                                                "type": "string",
                                                "example": "127.0.0.1"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the dedicated IP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DedicatedIPResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown IP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/cancel-warmup": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Cancel IP warmup process",
                "description": "Cancels the warmup process for a dedicated IP.",
                "operationId": "ips_cancel_warmup",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "ip"
                                        ],
                                        "properties": {
                                            "ip": {
                                                "description": "A dedicated IP address",
                                                "type": "string",
                                                "example": "127.0.0.1"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the dedicated IP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DedicatedIPResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown IP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/set-pool": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Move IP to different pool",
                "description": "Moves a dedicated IP to a different pool.",
                "operationId": "ips_set_pool",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "ip",
                                            "pool"
                                        ],
                                        "properties": {
                                            "ip": {
                                                "description": "A dedicated IP address",
                                                "type": "string",
                                                "example": "127.0.0.1"
                                            },
                                            "pool": {
                                                "description": "The name of the new pool to add the dedicated IP to",
                                                "type": "string",
                                                "example": "Main Pool"
                                            },
                                            "create_pool": {
                                                "description": "Whether to create the pool if it does not exist; if false and the pool does not exist, an Unknown_Pool will be thrown",
                                                "type": "boolean",
                                                "example": false
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the updated state of the dedicated IP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DedicatedIPResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown IP or pool",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid empty default pool",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/delete": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Delete dedicated IP",
                "description": "Deletes a dedicated IP. This is permanent and cannot be undone.",
                "operationId": "ips_delete",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "ip"
                                        ],
                                        "properties": {
                                            "ip": {
                                                "description": "The dedicated IP to remove from your account",
                                                "type": "string",
                                                "example": "127.0.0.1"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A description of the IP that was removed from your account",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPDeleteResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/list-pools": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "List dedicated IP pools",
                "description": "Lists your dedicated IP pools.",
                "operationId": "ips_list_pools",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiKey"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The dedicated IP pools for your account, up to a maximum of 1,000",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DedicatedIPPoolResponse"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/ips/pool-info": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Get pool information",
                "description": "Describes a single dedicated IP pool.",
                "operationId": "ips_pool_info",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "pool"
                                        ],
                                        "properties": {
                                            "pool": {
                                                "description": "A pool name",
                                                "type": "string",
                                                "example": "Main Pool"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the dedicated IP pool",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DedicatedIPPoolResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown pool",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/ips/create-pool": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Create dedicated IP pool",
                "description": "Creates a pool and returns it. If a pool already exists with this name, no action will be performed.",
                "operationId": "ips_create_pool",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "pool"
                                        ],
                                        "properties": {
                                            "pool": {
                                                "description": "The name of a pool to create",
                                                "type": "string",
                                                "example": "New Pool"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the dedicated IP pool",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DedicatedIPPoolResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/delete-pool": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Delete dedicated IP pool",
                "description": "Deletes a pool. A pool must be empty before you can delete it, and you cannot delete your default pool.",
                "operationId": "ips_delete_pool",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "pool"
                                        ],
                                        "properties": {
                                            "pool": {
                                                "description": "The name of a pool to delete",
                                                "type": "string",
                                                "example": "Main Pool"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the deleted pool",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PoolDeleteResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown pool",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Cannot delete default pool or non-empty pool",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/check-custom-dns": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Test custom DNS configuration",
                "description": "Tests whether a domain name is valid for use as the custom reverse DNS for a dedicated IP.",
                "operationId": "ips_check_custom_dns",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "ip",
                                            "domain"
                                        ],
                                        "properties": {
                                            "ip": {
                                                "description": "A dedicated IP address",
                                                "type": "string",
                                                "example": "127.0.0.1"
                                            },
                                            "domain": {
                                                "description": "The domain name to test",
                                                "type": "string",
                                                "example": "example.com"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Validation results for the domain",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomDNSCheckResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown IP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ips/set-custom-dns": {
            "post": {
                "tags": [
                    "IPs"
                ],
                "summary": "Configure custom DNS for IP",
                "description": "Configures the custom DNS name for a dedicated IP.",
                "operationId": "ips_set_custom_dns",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "ip",
                                            "domain"
                                        ],
                                        "properties": {
                                            "ip": {
                                                "description": "A dedicated IP address",
                                                "type": "string",
                                                "example": "127.0.0.1"
                                            },
                                            "domain": {
                                                "description": "A domain name to set as the dedicated IP's custom DNS name",
                                                "type": "string",
                                                "example": "example.com"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the updated state of the dedicated IP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DedicatedIPResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid custom DNS",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown IP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/domains": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "List inbound domains",
                "description": "List the domains that have been configured for inbound delivery.",
                "operationId": "inbound_domains",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiKey"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The inbound domains associated with the account",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/InboundDomain"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/add-domain": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Add inbound domain",
                "description": "Add an inbound domain to your account.",
                "operationId": "inbound_add_domain",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "domain"
                                        ],
                                        "properties": {
                                            "domain": {
                                                "description": "A domain name for inbound email delivery",
                                                "type": "string",
                                                "example": "inbound.example.com"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the domain",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundDomain"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/check-domain": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Check domain settings",
                "description": "Check the MX settings for an inbound domain. The domain must have already been added with the add-domain call.",
                "operationId": "inbound_check_domain",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "domain"
                                        ],
                                        "properties": {
                                            "domain": {
                                                "description": "An existing inbound domain",
                                                "type": "string",
                                                "example": "inbound.example.com"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the inbound domain",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundDomain"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown inbound domain",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/delete-domain": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Delete inbound domain",
                "description": "Delete an inbound domain from the account. All mail will stop routing for this domain immediately.",
                "operationId": "inbound_delete_domain",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "domain"
                                        ],
                                        "properties": {
                                            "domain": {
                                                "description": "An existing inbound domain",
                                                "type": "string",
                                                "example": "inbound.example.com"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Information about the deleted domain",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundDomain"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown inbound domain",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/routes": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "List mailbox routes",
                "description": "List the mailbox routes defined for an inbound domain.",
                "operationId": "inbound_routes",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "domain"
                                        ],
                                        "properties": {
                                            "domain": {
                                                "description": "The domain to check",
                                                "type": "string",
                                                "example": "inbound.example.com"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The routes associated with the domain",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/InboundRoute"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown inbound domain",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/add-route": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Add mailbox route",
                "description": "Add a new mailbox route to an inbound domain.",
                "operationId": "inbound_add_route",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "domain",
                                            "pattern",
                                            "url"
                                        ],
                                        "properties": {
                                            "domain": {
                                                "description": "An existing inbound domain",
                                                "type": "string",
                                                "example": "inbound.example.com"
                                            },
                                            "pattern": {
                                                "description": "The search pattern that the mailbox name should match",
                                                "type": "string",
                                                "example": "mailbox-*"
                                            },
                                            "url": {
                                                "description": "The webhook URL where the inbound messages will be published",
                                                "type": "string",
                                                "format": "uri",
                                                "example": "https://example.com/webhook-url"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The added mailbox route information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundRoute"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown inbound domain",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/update-route": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Update mailbox route",
                "description": "Update the pattern or webhook of an existing inbound mailbox route. If null is provided for any fields, the values will remain unchanged.",
                "operationId": "inbound_update_route",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "id"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "The unique identifier of an existing mailbox route",
                                                "type": "string",
                                                "example": "88.2144614"
                                            },
                                            "pattern": {
                                                "description": "The search pattern that the mailbox name should match (null to leave unchanged)",
                                                "type": [
                                                    "string",
                                                    null
                                                ],
                                                "example": "*.*"
                                            },
                                            "url": {
                                                "description": "The webhook URL where the inbound messages will be published (null to leave unchanged)",
                                                "type": [
                                                    "string",
                                                    null
                                                ],
                                                "format": "uri",
                                                "example": "https://example.com/webhook-url"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated mailbox route information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundRoute"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown inbound route",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/delete-route": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Delete mailbox route",
                "description": "Delete an existing inbound mailbox route.",
                "operationId": "inbound_delete_route",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "id"
                                        ],
                                        "properties": {
                                            "id": {
                                                "description": "The unique identifier of an existing route",
                                                "type": "string",
                                                "example": "88.214614"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The deleted mailbox route information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InboundRoute"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown inbound route",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inbound/send-raw": {
            "post": {
                "tags": [
                    "Inbound"
                ],
                "summary": "Send mime document",
                "description": "Take a raw MIME document destined for a domain with inbound domains set up, and send it to the inbound hook exactly as if it had been sent over SMTP.",
                "operationId": "inbound_send_raw",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApiKey"
                                    },
                                    {
                                        "required": [
                                            "raw_message"
                                        ],
                                        "properties": {
                                            "raw_message": {
                                                "description": "The full MIME document of an email message",
                                                "type": "string",
                                                "example": "From: sender@example.com\\nTo: mailbox-123@inbound.example.com\\nSubject: Some Subject\\n\\nSome content."
                                            },
                                            "to": {
                                                "description": "Optionally define the recipients to receive the message - otherwise we'll use the To, Cc, and Bcc headers provided in the document",
                                                "type": [
                                                    "array",
                                                    null
                                                ],
                                                "items": {
                                                    "type": "string",
                                                    "format": "email"
                                                },
                                                "example": [
                                                    "mailbox-123@inbound.example.com"
                                                ]
                                            },
                                            "mail_from": {
                                                "description": "The address specified in the MAIL FROM stage of the SMTP conversation",
                                                "type": [
                                                    "string",
                                                    null
                                                ],
                                                "format": "email",
                                                "example": "sender@example.com"
                                            },
                                            "helo": {
                                                "description": "The hostname provided during HELO",
                                                "type": [
                                                    "string",
                                                    null
                                                ],
                                                "example": "sender.example.com"
                                            },
                                            "client_address": {
                                                "description": "The remote host's IP address",
                                                "type": [
                                                    "string",
                                                    null
                                                ],
                                                "example": "192.168.1.100"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Processing results for each recipient or null if no recipients processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SendRawResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown inbound domain",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metadata/list": {
            "post": {
                "tags": [
                    "Metadata"
                ],
                "summary": "List custom metadata fields",
                "description": "Get the list of custom metadata fields indexed for the account",
                "operationId": "metadata_list",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiKey"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "List of custom metadata fields",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MetadataResponseData"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-readonly": true
            }
        },
        "/metadata/add": {
            "post": {
                "tags": [
                    "Metadata"
                ],
                "summary": "Add custom metadata field",
                "description": "Add a new custom metadata field to be indexed for the account",
                "operationId": "metadata_add",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/MetadataCommonRequestData"
                                    },
                                    {
                                        "properties": {
                                            "view_template": {
                                                "description": "Optional Mustache template to control how the metadata is rendered in your activity log",
                                                "maxLength": 1024,
                                                "example": "<a href=\"http://yourapplication.com/user/{{value}}\">{{value}}</a>",
                                                "oneOf": [
                                                    {
                                                        "type": "string"
                                                    },
                                                    {}
                                                ]
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Custom metadata field created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetadataResponseData"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Metadata field limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metadata/update": {
            "post": {
                "tags": [
                    "Metadata"
                ],
                "summary": "Update custom metadata field",
                "description": "Update an existing custom metadata field",
                "operationId": "metadata_update",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/MetadataCommonRequestData"
                                    },
                                    {
                                        "required": [
                                            "view_template"
                                        ],
                                        "properties": {
                                            "view_template": {
                                                "description": "Mustache template to control how the metadata is rendered in your activity log",
                                                "type": "string",
                                                "maxLength": 1024,
                                                "example": "<a href=\"http://yourapplication.com/user/{{value}}\">{{value}}</a>"
                                            }
                                        },
                                        "type": "object"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Custom metadata field updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MetadataResponseData"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown metadata field",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metadata/delete": {
            "post": {
                "tags": [
                    "Metadata"
                ],
                "summary": "Delete custom metadata field",
[...]
