{
  "name": "{{{projectName}}}",
  "version": "{{{projectVersion}}}",
  "description": "{{{projectDescription}}}",
  "license": "{{projectLicenseName}}",
  "main": "{{sourceFolder}}{{#invokerPackage}}/{{invokerPackage}}{{/invokerPackage}}/index.js",
  "scripts": {
    "test": "jest --setupFiles dotenv/config"
  },
  "browser": {
    "fs": false
  },
  "dependencies": {
    "superagent": "^8.1.2",
    "dotenv": "^8.2.0"
  },
  "devDependencies": {
    "mocha": "~2.3.4",
    "sinon": "1.17.3",
    "jest": "^26.2.2"
  },
  "homepage": "https://github.com/mailchimp/mailchimp-marketing-node",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/mailchimp/mailchimp-marketing-node.git"
  },
  "bugs": {
    "url": "https://github.com/mailchimp/mailchimp-client-lib-codegen/issues"
  },
  "keywords": [
    "mailchimp",
    "api",
    "v3"
  ],
  "engines": {
    "node": ">=10.0.0"
  }
}
