# Mailchimp Marketing SDK — Node

The official Node.js SDK for the Mailchimp Marketing API

## Installation

```
npm install {{{projectName}}}
```

## Quick Start

```javascript
const mailchimp = require('@postlight/postlight_mc_test');

mailchimp.setConfig({
  apiKey: 'YOUR_API_KEY',
  server: 'YOUR_SERVER_PREFIX',
});

async function callPing() {
  const response = await mailchimp.ping.get();
  console.log(response);
}

callPing();
```

## API Endpoints

All URIs are relative to *{{basePath}}*

| SDK Method | Endpoint |
| ---------- | -------- |
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}| **{{#tags}}{{{name}}}{{/tags}}.{{vendorExtensions.x-custom-config.methodNameCamel}}** | {{path}} |
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}


## Additional SDKs

Mailchimp Marketing SDKs are available in a number of additional languages.

<div>
  <a href="https://github.com/postlight/mailchimp-marketing-node">
  <img src="https://github.com/postlight/mailchimp/blob/master/resources/images/lang_node.png?raw=true" width="44" height="44">
  </a>
  <a href="https://github.com/postlight/mailchimp-marketing-php">
  <img src="https://github.com/postlight/mailchimp/blob/master/resources/images/lang_php.png?raw=true" width="44" height="44">
  </a>
  <a href="https://github.com/postlight/mailchimp-marketing-ruby">
  <img src="https://github.com/postlight/mailchimp/blob/master/resources/images/lang_ruby.png?raw=true" width="44" height="44">
  </a>
  <a href="https://github.com/postlight/mailchimp-marketing-python">
  <img src="https://github.com/postlight/mailchimp/blob/master/resources/images/lang_python.png?raw=true" width="44" height="44">
  </a>
  <a href="https://github.com/postlight/mailchimp-marketing-java">
  <img src="https://github.com/postlight/mailchimp/blob/master/resources/images/lang_java.png?raw=true" width="44" height="44">
  </a>
    <a href="https://github.com/postlight/mailchimp-marketing-csharp">
  <img src="https://github.com/postlight/mailchimp/blob/master/resources/images/lang_csharp.png?raw=true" width="44" height="44">
  </a>
</div>

