{
  "name": "{{{projectName}}}",
  "version": "{{{projectVersion}}}",
  "description": "{{{projectDescription}}}",
  "license": "{{licenseName}}",
  "main": "{{sourceFolder}}{{#invokerPackage}}/{{invokerPackage}}{{/invokerPackage}}/index.js",
  "browser": {
    "fs": false
  },
  "dependencies": {
    "axios": "^0.21.1"
  }
}
