{
  "name": "{{{projectName}}}",
  "version": "{{{projectVersion}}}",
  "description": "{{{projectDescription}}}",
  "license": "{{projectLicenseName}}",
  "main": "{{sourceFolder}}{{#invokerPackage}}/{{invokerPackage}}{{/invokerPackage}}/index.js",
  "browser": {
    "fs": false
  },
  "dependencies": {
    "axios": "^1.12.2"
  },
  "homepage": "https://github.com/mailchimp/mailchimp-transactional-node",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/mailchimp/mailchimp-transactional-node.git"
  },
  "bugs": {
    "url": "https://github.com/mailchimp/mailchimp-client-lib-codegen/issues"
  },
  "keywords": [
    "mailchimp",
    "api",
    "v3",
    "transactional"
  ],
  "engines": {
    "node": ">=10.0.0"
  }
}
